[2016-09-02 21:19] zechomaru opened #1 "problems install"
Hello,
  I am testing the project and the installation there is a problem with the status table. and reviewing the migrations I do not see.

`QueryException in Connection.php line 729:
SQLSTATE[42S22]: Column not found: 1054 Unknown column 'status' in 'field list' (SQL: insert into `order_statuses` (`title`, `status`, `is_default`) values (pending, 1, 1))`

[2016-09-02 22:05] indpurvesh commented on #1
@zechomaru  First of all thanks for raising the issue. I have fixed it let me know if you have any problem.

[2016-09-02 22:08] zechomaru commented on #1
thanks I'll keep trying and you commented.

[2016-09-04 03:17] indpurvesh commented on #1
@zechomaru  i am closing this issue.

[2016-09-04 03:17] #1 closed

[2016-09-30 02:02] indpurvesh opened #2 "Wishlist - Add"
When we do wishlist add it use product ID. Rather then using product ID. We should use product-slug for security reason.

[2016-10-06 02:44] indpurvesh opened #3 "Product Page"
Product Page always display same product bug(Product 1 ).

[2016-10-06 02:51] indpurvesh commented on #3
Fixed the bug on Commit No: 282

[2016-10-06 02:51] #3 closed

[2016-10-08 14:14] soly2014 opened #4 "TokenMismatchException"
TokenMismatchException in VerifyCsrfToken.php line 68:

[2016-10-08 20:54] indpurvesh commented on #4
@soly2014  Could you please tell me on which page you received this error?

[2016-10-15 22:53] indpurvesh opened #5 "checkout login redirect to account page"
If you are on a checkout page and do successfull login. it redirect to account page rather then on the same page.

[2016-10-16 00:38] indpurvesh commented on #5
Its fixed in commit No: 296

[2016-10-16 00:38] #5 closed

[2016-10-16 00:43] jajajaime opened #6 "/install URL giving me db tables do not exist"
There's no migration file to where setup the database, either. Am I missing something?

[2016-10-16 01:24] indpurvesh commented on #6
Migration file is inside : Module/base/Mage2/Address/Database/Migration/

Give me some time i will do test and fix it up soon.
Anyways thanks for creating issue: @jajajaime

[2016-10-16 02:07] indpurvesh commented on #6
@jajajaime  bug is fixed.

[2016-10-16 02:07] #6 closed

[2016-10-17 04:18] luhegi opened #7 "Admin can't create category, product and user"
when create user and category return "FatalErrorException in FileViewFinder.php line 29:
Class 'Mage2\Framework\View\InvalidArgumentException' not found"
when create product return "ErrorException in cc72be8cceccff7e7ea896ecbcb691aca5141711.php line 22:
Undefined variable: statusOptions (View: C:\xampp\htdocs\laravel-ecommerce\modules\base\Mage2\Catalog\views\admin\catalog\product\boxes\basic.blad

[2016-10-17 04:37] indpurvesh commented on #7
Hello @luhegi  bug should be fixed.

Thanks for creating issue.

[2016-10-17 04:37] #7 closed

[2016-10-19 21:12] indpurvesh opened #11 "Design Improvement"
I am thinking to do a design improvement now for front end and backend both.

[2016-10-23 18:34] WESLEY-PEARSON opened #12 "Error! Trying to get property of non-object."
I get this error in wishlist.my-account.wishlist page:

Trying to get property of non-object

 <td> {{ $wishlist->product->id }}</td>

[2016-10-23 21:06] indpurvesh commented on #12
@WESLEY-PEARSON Could you please tell me on which page you get this issue?

[2016-10-23 21:13] WESLEY-PEARSON commented on #12
wishlist.my-account.wishlist page.

The system does not recognize product variable.

[2016-10-23 21:26] indpurvesh commented on #12
@WESLEY-PEARSON Sorry but i cant replicate the bug. To me it seems like you have:
 created one product -> added into wishlist ->delete product -> now you visiting the wishlist page?

[2016-10-24 06:42] WESLEY-PEARSON commented on #12
Yes, I added a product into wishlist and when I visiting the wishlist page I get this error but I think it's due to the fact that the system does not recognize the product because if I delete the product from the instance {{ $wishlist->product->id }} {{ $wishlist->id }}the page opens but obviously without the items of the product.

[2016-10-24 07:30] WESLEY-PEARSON commented on #12
I just fixed the problem. It was my typo in class wishlist model. Thank you anyway.

[2016-10-24 20:03] indpurvesh commented on #12
@WESLEY-PEARSON  thanks for raising the issue. anyway it remind me adding one feature that i forget it in past.

[2016-10-24 20:03] #12 closed

[2016-10-24 21:44] indpurvesh opened #13 "Raise Product Delete Event"
So listner can listen for the event and take appropriate action (e.g Wishlist module can remove Item from People Wishlist). (another option is to use Product ID into Wishlist table as a foreign key.)

[2016-10-27 09:21] hotrush commented on #6
i am receiving
[code]
seems not fixed

[2016-10-27 21:19] indpurvesh commented on #6
@hotrush  Actually it was my mistake that i commit wrong file. Anyway thanks for comment and i am in love with opensource project just because of you guy who raise the issue and help to improve the project. Thanks once again

[2016-10-28 23:48] kmg101 commented on #11
Hey, I'm interested in helping. This is an awesome project and will like to see it grow.

[2016-10-29 01:19] indpurvesh commented on #11
I am glade to hear it. I have added a themes/mage2/basic theme.  It does have assets folder and one home view file only for now (which override the view from modules/base/Mage2/Dashboard/views/home/index.blade.php). I hope this information make sense.

If you add another theme with bootstrap framework it would be great. thanks @kmg101

[2016-10-31 04:27] kmg101 commented on #11
Yes, I will take a look at it this week. Thanks

[2016-10-31 04:49] indpurvesh commented on #11
Thanks @kmg101

[2016-11-04 16:33] designviacode commented on #11
Hey i'm really interested in working on this project. Please let me know what can i pick up on .. like right now .. :)

[2016-11-04 19:57] indpurvesh commented on #11
@designviacode  Very pleased to hear that you like to contribute to project.
If you help it with creating first basic theme design.  Let me give you an example of how you can override the template. Let say if you want to override  product view template. Currently its loading view from: modules/base/Mage2/Catalog/views/product/view.blade.php you can copy this file from here to theme folder: themes/

[2016-11-07 22:05] gabrielkolbe opened #16 "Session not reloading properly"
Site worked fine on installation, but next day returning to the site, the session is not reloading properly. This is the error message I get.

ErrorException in Website.php line 50:
Trying to get property of non-object
in Website.php line 50
at HandleExceptions->handleError('8', 'Trying to get property of non-object', 'C:\xampp\htdocs\laravelcommerce\modules\base\Mage2\System\Middleware\Website.ph

[2016-11-07 22:11] indpurvesh commented on #16
did you change the site url or base url?

[2016-11-08 00:40] gabrielkolbe commented on #16
No, I did not, just installed it.

[2016-11-08 00:48] indpurvesh commented on #16
ok thanks i will try to replicate the bug. anyway thanks for raising the issue here @gabrielkolbe

[2016-11-08 00:54] gabrielkolbe commented on #16
Well I know nothing of Laravel - still learning but it seems to me that if the session not there then on line 45 on website.php there is a query to the websitemodel does it get the wrong host, or website?

[2016-11-08 00:57] gabrielkolbe commented on #16
aah, fixed it. I have installed the site on a domain called laravelcommerce. When I loaded the site it only worked on laravelcommerce/public, so I inserted the .htaccess file to reroot from laravelcommerce/public to laravelcommerce/ I had to make the change in the website - host column. voila!

[2016-11-08 01:02] indpurvesh commented on #16
Thanks..  so i will close this issue. and once again thanks @gabrielkolbe

[2016-11-08 01:02] #16 closed

[2016-11-27 02:43] indpurvesh commented on #2
added into wishlist module.

[2016-11-27 02:43] #2 closed

[2016-12-06 19:12] technosolar opened #17 "ErrorException in Website.php line 50:"
Trying to get property of non-object
/home/u250461069/laravel-ecommerce/vendor/mage2/framework/src/System/Middleware/Website.php#50

 }
        Session::put('website_id', $website->id);

        if ($website->is_default == 1) {
            Session::put('is_default_website', true);

[2016-12-06 19:23] indpurvesh commented on #17
Hello @technosolar

are you accessing website now from different url?

[2016-12-06 19:41] technosolar commented on #17
not yet

[2016-12-06 21:27] indpurvesh commented on #17
its fixed.

https://github.com/mage2/framework commit no: 83

[2016-12-06 21:27] #17 closed

[2016-12-07 15:26] technosolar commented on #17
... thank you ...

[2016-12-14 01:32] cagartner opened #18 "Create localization to translate for other languages."
I would suggest to use the default localization method of Laravel: https://laravel.com/docs/5.3/localization, but particulary I don't like this method.

I prefer the https://github.com/xinax/laravel-gettext method, because the readability of the views is much better.

What you thinks?

This project is awesome and soon I intend to help with PR's.

Cheers.

[2016-12-16 18:53] snapple42 opened #19 "Error in installing..."
One product_attribute is missing the "is_system" field:

[code]

[2016-12-16 20:05] indpurvesh commented on #19
thanks @snapple42 i will fix and commit today.

[2016-12-16 20:14] indpurvesh commented on #19
@snapple42 fixed.

[2016-12-16 20:14] #19 closed

[2016-12-31 15:51] umercvision opened #20 "Error installing !"
QueryException in Connection.php line 770:
SQLSTATE[21S01]: Insert value list does not match column list: 1136 Column count doesn't match value count at row 3 (SQL: insert into `product_attributes` (`field_type`, `identifier`, `is_system`, `product_attribute_group_id`, `sort_order`, `title`, `type`, `validation`) values (TEXT, title, 1, 1, 0, Title, VARCHAR, required|max:255), (TEXT, price, 1, 1,

[2017-01-01 20:29] indpurvesh commented on #20
fixed and thanks @umercvision

[2017-01-01 20:29] #20 closed

[2017-01-03 06:53] umercvision commented on #20
Thank you !

[2017-01-18 14:39] Sagarbhagdev opened #21 "Table 'ecom.websites' doesn't exist (SQL: select * from `websites`)"
when i write install in url i got this error
where my database name is ecom

QueryException in Connection.php line 770:
SQLSTATE[42S02]: Base table or view not found: 1146 Table 'ecom.websites' doesn't exist (SQL: select * from `websites`)

[2017-01-18 16:06] Sagarbhagdev commented on #21
if (!Schema::hasTable('migrations')) {
            return redirect()->route('mage2.install');
        }

remove it from comments and get solved

[2017-01-18 16:30] Sagarbhagdev commented on #21
http://localhost:8000/install/database/table

now when i run this page i got error maximum execution time of 60 seconds exceeded

[2017-01-19 02:38] Sagarbhagdev commented on #21
I have solved that both the errors but still while installation complete
its redirect to again installation page instead of admin login.

On 19 Jan 2017 7:41 a.m., "Purvesh" <notifications@github.com> wrote:

[2017-01-19 04:07] Sagarbhagdev commented on #21
please solve that why its redirect again to install page
 and for solving max execution error you need to include

ini_set('max_execution_time', 300);

at top of this file
 C:\xampp\htdocs\laravel-ecommerce\modules\base\Mage2\Install\route\web.php after solving this i got the problem of redirection so check it and try to fix it

[2017-01-19 04:10] indpurvesh commented on #21
Because you un comment out  this line of code.

if (!Schema::hasTable('migrations')) {
return redirect()->route('mage2.install');
}

so leave the comment on it. it should be ok.

thanks
Purvesh

[2017-01-19 04:22] Sagarbhagdev commented on #21
ok thanks man

[2017-01-19 11:21] cagartner commented on #18
With the release of the laravel 5.4, they changed the default translate for a better one, there is the possibility of upgrading this project to 5.4?

https://laravel-news.com/json-based-translations

[2017-01-19 18:25] indpurvesh commented on #18
anyway i am going to upgrade it for sure before i will release 1.0. But thanks @cagartner

[2017-01-20 09:35] vafrcor opened #22 "Place Order - SQL Error"
While tried to place the order, I have found this error.
<img width="1416" alt="screen shot 2017-01-20 at 4 34 43 pm" src="https://cloud.githubusercontent.com/assets/2148366/22143927/7345da08-df2e-11e6-8920-fc828a69ef88.png">

[2017-01-20 20:28] indpurvesh commented on #22
@vafrcor thanks for :raising issue. i will fix the bug soon

[2017-01-21 03:26] indpurvesh commented on #22
Let me know are you still getting error. But you have to reinstall the mage2 laravel ecommerce.

[2017-01-21 22:18] indpurvesh commented on #21
@Sagarbhagdev I have split the installation of migration into individual modules so i hope it wont do timeout now. I am closing this issue for now. Let me know if you still received this error?

[2017-01-21 22:18] #21 closed

[2017-01-23 08:24] Sagarbhagdev commented on #21
okay, No Problem

[2017-01-23 15:08] GERARDKANDA opened #23 "Error in Installation"
Cant install please assist..SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'product_attribute_groups' already exists

[2017-01-27 04:56] indpurvesh commented on #18
Hello

@cagartner finally i have upgraded to laravel 5.4 and done basic translation as well. Take a look at

modules/base/User/view/lang/en and modules/base/User/view/lang/hi (Hindi)

Thanks

[2017-01-28 01:58] indpurvesh commented on #23
If you restart the installation process again then installation process bug should be fixed. Thanks for raising the bug. @GERARDKANDA

[2017-01-28 01:58] #23 closed

[2017-02-14 05:00] #22 closed

[2017-02-14 05:00] #4 closed

[2017-03-02 22:29] indpurvesh commented on #13
i dont think i need it now.

[2017-03-02 22:29] #13 closed

[2017-03-03 11:36] zaisahil commented on #11
Getting an error:

RuntimeException in Encrypter.php line 43:
The only supported ciphers are AES-128-CBC and AES-256-CBC with the correct key lengths.

Please help!

[2017-03-03 12:13] Eggotron commented on #11
@zaisahil . Check that you hace your .env file properly configured. Procced to your command line and write : php artisan key:generate

Done.

[2017-03-03 20:04] indpurvesh commented on #11
thanks @Eggotron

[2017-03-08 07:36] xiaolp opened #25 "Demo site error"
Demo site error

[2017-03-08 20:13] indpurvesh commented on #25
thanks @xiaolp

[2017-03-09 03:04] indpurvesh commented on #25
I just update the demo site but i have to add test data yet because as i have added product attribute feature almost ready so i have to generate new test data for this. Soon it will be available. Once again thanks @xiaolp

[2017-04-06 12:35] mountstone opened #27 "Unable to run application"
After installing, there are many errors while compilation clearing...

[2017-04-07 00:00] indpurvesh commented on #27
@mountstone can you be more specific regards error? or is it possible to share some screenshot ?

[2017-04-07 08:32] mountstone commented on #27
At the end of composer install, there is php warning:
[code]
When i go to app installation page, following error appears:
[code]

Command:
[code]
resolve this problem.

After login and go into categories page:
[code]

[2017-04-07 08:34] indpurvesh commented on #27
Thanks it make sense I will solve it soon thanks for raising the issue @mou

[2017-04-07 08:37] mountstone commented on #27
@indpurvesh
Purvesh,

You are welcome to use and improve our brand new platform https://github.com/antaresproject

Based on Laravel, PHP7 ready, using flexible design patterns that keep the code clean and elegant.

I think it will be good idea to create your ecommerce platform as Antares Component

[2017-04-07 22:00] indpurvesh commented on #27
@mountstone   Bug has been fixed. Thanks please install the dev-master again it should fix the problem.

[2017-04-07 22:00] #27 closed

[2017-05-05 23:31] Chinese1904 commented on #25
@indpurvesh adding something to the cart throws an error as well.

[2017-05-06 04:47] indpurvesh commented on #25
Just updated the demo site repository so it should be ok. thanks  to @Chinese1904  once again for helping and make the app better.

[2017-05-06 04:47] #25 closed

[2017-05-06 18:40] agsotelo opened #29 "ErrorException at http://demo.mage2.website/checkout"
Hello, I just want to report an exception in you demo at http://demo.mage2.website/checkout. It throws an exception when I click the Checkout option:

[code]

PS: Great work. I will try out install it.

AugustoSL

[2017-05-06 18:54] agsotelo opened #30 "ErrorException at http://mage2.website/forum/general/post"
Hello, I just want to report an exception in your forum at http://mage2.website/forum/general/post/create. It throws an exception when I click the Create option:
[code]
AugustoSL

[2017-05-06 19:01] agsotelo commented on #18
Hello
@indpurvesh I'm interested in helping with Spanish translation.

This is a great project, congratulations!

AugustoSL

[2017-05-06 19:20] agsotelo opened #32 "Installation using composer fails"
Hello, I was trying to install using composer command but it's thrown me a RuntimeException

[code]
I have a Homestead installation that runs on a Vagrant (using the virtualbox driver) on Windows.
Any help will be appreciated, thanks in advance

AugustoSL

[2017-05-06 21:41] indpurvesh commented on #30
@agsotelo  Thanks.  this bug should be fixed on website.

[2017-05-06 21:41] #30 closed

[2017-05-06 22:03] indpurvesh commented on #29
This bug should be fixed too. Thanks again for raising the issue.

[2017-05-06 22:03] #29 closed

[2017-05-06 22:07] indpurvesh commented on #18
@agsotelo  thank for your help regarding the translation. I will add more lang soon.

[2017-05-06 22:23] indpurvesh commented on #32
@agsotelo I just install on using my Wamp Server and Composer installation on Windows everything is working fine.
By reading error text it seems like it just a time out issue on composer but i think it has nothing to do with Repository so i am sure if you try to install again it should all good to go.

[2017-05-06 22:23] #32 closed

[2017-05-22 06:17] jsvishaltrancis opened #33 "Dumy data is not provided Unable to open home screen"
When we open the screen , we get a fetal error
[code]

Also unable to update any product for the product attributes

Can u please provide some dummy data dump for the database

[2017-05-24 06:57] indpurvesh commented on #33
If you do reinstall again from scratch it should fixed the issue for now. thanks for raising the issue here.

[2017-05-24 06:57] #33 closed

[2017-05-24 08:45] jsvishaltrancis commented on #33
@indpurvesh  Can you add dummy data in tables during installation ?

[2017-05-24 08:47] indpurvesh commented on #33
Yes currently working on dummy data installation and coupons code and reporting thanks

[2017-05-26 08:56] testpratap opened #34 "New Module"
how to add new module in this project

[2017-05-26 08:57] indpurvesh commented on #34
Sorry but I haven't done documentation on it yet

[2017-05-26 22:08] indpurvesh commented on #34
Just Adding a some basic level of documentation regarding hello world documnt.

[2017-05-27 01:36] indpurvesh commented on #34
Check this page

[Mage2 Laravel Ecommerce Module](https://github.com/mage2/laravel-ecommerce/wiki/Mage2-Laravel-Ecommerce-Hello-World-Module)

[2017-05-29 09:25] testpratap commented on #34
Thank's for reply

On Sat, May 27, 2017 at 7:06 AM, Purvesh <notifications@github.com> wrote:

[2017-05-30 08:42] testpratap opened #35 "Error appear during product edit and extra attribute add"
Error appear during product edit. Please check the error

`Exception in ProductController.php line 169:
Error in Saving Product: Invalid argument supplied for foreach()`

Same error appears when we add an extra attribute to product

[2017-05-30 17:55] testpratap opened #36 "coupon functionality"
please add  coupon functionality and share with me how to integrate with exist side

[2017-06-01 03:07] indpurvesh commented on #35
currently working on it. thanks

[2017-06-02 03:03] indpurvesh commented on #35
@testpratap bug has been fixed. Thanks once again.

[2017-06-02 03:03] #35 closed

[2017-06-02 03:39] #34 closed

[2017-06-02 05:29] testpratap commented on #35
Thanks

On Fri, Jun 2, 2017 at 8:33 AM, Purvesh <notifications@github.com> wrote:

[2017-06-04 07:25] indpurvesh commented on #36
Basic level of coupons feature added

Thanks @testpratap

[2017-06-04 07:25] #36 closed

[2017-06-17 05:36] mahdi4187 opened #41 "error to install in page install/database/table"
error to install in page (level Mage2 User)
SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'admin_password_resets' already exists (SQL: create table `admin_password_resets` (`email` varchar(255) not null, `token` varchar(255) not null, `created_at` timestamp not null) default character set utf8 collate utf8_unicode_ci engine = InnoDB)

[2017-06-18 05:38] indpurvesh commented on #41
@mahdi4187 do you like to try re installation again.

[2017-06-22 04:41] sangnguyenplus opened #42 "Class install does not exist"
Hi @indpurvesh,
I got this error when pulling the latest code.
![Screenshot](https://image.prntscr.com/image/U0ZzYD7XT4iZNs4gARBhAQ.png)
Please check it.
Thanks!

[2017-06-22 04:43] indpurvesh commented on #42
This is the file it suppose to load. Can you try to find if file exist in your vendor/mage2/framewor/src folder

https://github.com/mage2/framework/blob/master/src/System/Middleware/Install.php

[2017-06-22 04:46] indpurvesh commented on #42
@sangnguyenplus try composer update

[2017-06-22 04:50] sangnguyenplus commented on #42
I'm updating vendor but I still stuck with `ext-pdo_sqlite` extension.
Thanks!

[2017-06-22 05:13] #42 closed

[2017-06-22 05:14] indpurvesh commented on #42
You get it working??

[2017-06-22 05:15] sangnguyenplus commented on #42
Yes, it's working now.

[2017-06-24 08:58] mahdi4187 commented on #41
thank you

[2017-06-24 21:47] indpurvesh commented on #41
@mahdi4187 I will close this issue. Please reopen if you found the issue again.

[2017-06-24 21:47] #41 closed

[2017-06-25 05:54] hirenreshamwala opened #43 "How to access the RestAPI?"
Hello,

The system is working fine on my system. I want to know how can I use this system for mobile app using RestAPI?

[2017-06-25 06:02] indpurvesh commented on #43
@hirenreshamwala There is no API support at this stage. Possibly in sooner future

[2017-06-25 08:34] hirenreshamwala commented on #43
Thanks for reply.
Probably when you can introduce API support?

Regards.

On Sun, Jun 25, 2017 at 11:32 AM, Purvesh <notifications@github.com> wrote:

[2017-06-25 08:35] indpurvesh commented on #43
I would guess around 3-6 months

[2017-07-01 04:55] peerrabe opened #44 "ErrorException Mage2\Sale\Models\OrderStatus not found"
Hello, after installing mage2 and visiting dashboard i got an error exception.

[2017-07-01 04:56] indpurvesh commented on #44
Thanks I will fix it tomorrow

[2017-07-01 04:58] peerrabe commented on #44
no hurry, i'm creating a PR now

[2017-07-01 05:07] indpurvesh commented on #44
just did it.

[2017-07-01 05:07] #44 closed

[2017-07-01 07:15] peerrabe opened #46 "ErrorException Call to undefined method Mage2\Framework\Image\LocalImageFile::getRelativePath()"
editing products not possible because of an error exception, PR will follow.

[2017-07-01 22:11] #46 closed

[2017-07-14 13:39] duchungf9 opened #48 "i have trouble at install database steps"
SQLSTATE[23000]: Integrity constraint violation: 1062 Duplicate entry 'mage2-attribute' for key 'modules_identifier_unique' (SQL: insert into `modules` (`identifier`, `name`, `type`, `status`, `updated_at`, `created_at`) values (mage2-attribute, Mage2 Attribute, SYSTEM, ACTIVE, 2017-07-14 13:30:50, 2017-07-14 13:30:50))
--
 

[2017-07-14 21:26] indpurvesh commented on #48
It should be fixed. Thanks

[2017-07-14 21:26] #48 closed

[2017-07-16 13:35] ZaheerAbbasAghani opened #49 "Your requirements could not be resolved to an installable set of packages."
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - teamtnt/tntsearch v1.0.6 requires ext-sqlite3 * -> the requested PHP extension sqlite3 is missing from your system.
    - teamtnt/tntsearch v1.0.5 requires ext-sqlite3 * -> the requested PHP extension sqlite3 is missing from your system.
    - teamtnt/tntsearch v1.0.4 requires ext-sqlite3 * -> the request

[2017-07-16 14:16] ZaheerAbbasAghani opened #50 "Error after installing database"
SQLSTATE[HY000]: General error: 1 table "product_attributes" already exists (SQL: create table "product_attributes" ("id" integer not null primary key autoincrement, "title" varchar not null, "identifier" varchar not null, "field_type" varchar not null, "use_as_variation" integer not null, "is_system" integer not null default '1', "sort_order" integer null default '0', "created_at" datetime null,

[2017-07-16 15:41] ZaheerAbbasAghani opened #51 "Stuck on table installation page"
![capture](https://user-images.githubusercontent.com/14222731/28248960-e0c4ac44-6a66-11e7-9b82-33ec65117e4b.PNG)

Click Continue to install Database it redirect me to this page
http://localhost:8000/install/database/table
and on this page i click Install next page it redirect me to same page . No idea where to go what to do ???

[2017-07-16 16:02] ZaheerAbbasAghani opened #52 "Previous error solved automatically now this error"
SQLSTATE[HY000] [1130] Host 'localhost' is not allowed to connect to this MariaDB server (SQL: select * from information_schema.tables where table_schema = db_ecommerce and table_name = configurations)

[2017-07-16 16:07] #52 closed

[2017-07-16 18:41] ZaheerAbbasAghani opened #53 "Trying to get property of non-object (View: D:\xampp\htdocs\laravel-ecommerce\vendor\mage2\dashboard\src\views\admin\home.blade.php)"
As i login as admin it show above error ?

[2017-07-16 22:42] indpurvesh commented on #49
It should be fixed. At this stage i am not doing Index based product search so yes i don't need this package.

[2017-07-16 22:42] #49 closed

[2017-07-16 22:42] indpurvesh commented on #50
Are you using version 1.7 ?

[2017-07-16 22:43] indpurvesh commented on #51
It does create Module related database tables but just for debug purpose i am doing creating database table one after another rather then all in one click.

[2017-07-16 22:43] #51 closed

[2017-07-16 22:44] indpurvesh commented on #53
I know. the bug it should be fixed in next week.

[2017-07-17 05:16] ZaheerAbbasAghani commented on #51
thanks i thought i'll be created in one click .

[2017-07-17 05:21] ZaheerAbbasAghani commented on #49
Here i went to php.ini and uncommend extension=php_pdo_sqlite.dll it statrted working

[2017-07-20 22:57] indpurvesh commented on #53
This bug should be fixed.

[2017-07-20 22:57] #53 closed

[2017-07-24 19:18] DavidKrenekCZ opened #54 "Class 'Mage2\RelatedProduct\Module' not found"
Hello,

right after installation after php artisan optimize I'm still getting _Class 'Mage2\RelatedProduct\Module' not found_ error.

David

[2017-07-24 20:52] indpurvesh commented on #54
sorry i miss to add module into composer file.  its done thanks

[2017-07-24 20:52] #54 closed

[2017-07-25 06:14] DavidKrenekCZ opened #55 "Installing database error"
Hi, while installing database (Mage2 Related Product), I'm getting error:

_SQLSTATE[42000]: Syntax error or access violation: 1072 Key column 'related_products_id' doesn't exist in table (SQL: alter table `related_products` add constraint `related_products_related_products_id_foreign` foreign key (`related_products_id`) references `products` (`id`) on delete cascade)_

[2017-07-25 06:28] indpurvesh commented on #55
it should be just related_product_id. Anyway i fix it up soon

[2017-07-25 06:29] #55 closed

[2017-07-25 18:28] terrauser1 opened #56 "nothing found after install"
**I do all three steps in my localhost but i don't know how to upload database and install all. i am new in laravel that why facing some basic problem.

please guide me step by process ...**

git clone https://github.com/mage2/laravel-ecommerce.git

composer update

mage2/laravel-ecommerce/.env

[2017-07-25 18:33] indpurvesh commented on #56
@terrauser1

Please follow this steps.

Step 1: Install Mage2 Commerce using Composer.

Run composer to create the lavender application:

composer create-project mage2/laravel-ecommerce --stability=dev
Set up your environment config file:

mage2/laravel-ecommerce/.env

Create an empty Database using an phpmyadmin
edit .env file and
DB_DATABASE=MYDATABASENAME
DB_USERNAME=MYDATABASEUSERNAME
DB_PASSW

[2017-07-25 18:35] terrauser1 commented on #56
yes i do all this is my .env file

APP_ENV=local
APP_KEY=base64:8VLeJWzZz4XmdMuu5VZckZTT8f5H4HFnlJuetMvqfRI=
APP_DEBUG=true
APP_LOG_LEVEL=debug
APP_URL=http://localhost

DB_CONNECTION=mysql
DB_HOST=localhost
DB_DATABASE=forge
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

REDIS_HOST=localhost
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DR

[2017-07-25 18:35] terrauser1 commented on #56
but after i run url - http://localhost/laravel-ecommerce/install

it go to not found page.

[2017-07-25 18:36] indpurvesh commented on #56
you need to setup virtual host or try

http://localhost/laravel-ecommerce/public/install

[2017-07-25 18:47] terrauser1 commented on #56
Thanx Purvesh,

one question how to remove public from url?

[2017-07-25 18:49] indpurvesh commented on #56
Try google : how to create virtual host in Xampp or Wamp which ever server you been using it.

[2017-07-25 18:49] #56 closed

[2017-07-25 18:50] indpurvesh commented on #56
Do Google Search: How to create a virtual host in Xampp or Wamp which ever server you been using it.

Please share it or star it here.

[2017-07-26 16:27] #50 closed

[2017-07-26 17:59] ZaheerAbbasAghani commented on #4
While creating product it shows above error again and again ...

[2017-07-26 19:02] ZaheerAbbasAghani opened #57 "Products not displaying frontend ..."
Previously products was displaying as dummy data as i install this package but there images was not displaying so i deleted all dummy data products and added new 5 products but no product is displaying in frontend.
Error message 👍
Sorry No Feature Product.

[2017-07-26 21:41] indpurvesh commented on #57
@ZaheerAbbasAghani

i just comment out attribute feature few days ago because i was working on it. I did commit yesterday so

Just run command composer update.

once you go to product edit page..
click on Attribute tab-> you see a
drop down field saying is featured?

Just update product it will work

[2017-07-26 21:41] #57 closed

[2017-07-27 06:59] ZaheerAbbasAghani commented on #57
After composer update display below error

[2017-07-27 07:02] indpurvesh commented on #57
I think you have to re install it from scratch.

Otherwise you might get error for table does not exist.

[2017-07-27 07:07] ZaheerAbbasAghani commented on #57
ok i am installing it again

[2017-07-27 07:46] ZaheerAbbasAghani commented on #57
now as i install again i am getting below error

![capture](https://user-images.githubusercontent.com/14222731/28659639-a64e3358-72c9-11e7-82f9-47b95187c5ec.PNG)

[2017-07-27 07:50] ZaheerAbbasAghani commented on #57
![capture](https://user-images.githubusercontent.com/14222731/28659813-2893b3e2-72ca-11e7-925a-32a3add2e87a.PNG)

[2017-07-27 18:50] indpurvesh commented on #57
fixed.

[2017-08-14 18:50] stojankukrika opened #58 "Error when go to cart in demo"
Hi,
I just want to inform you a some bug.
I try demo and when add something to cart and click on Cart in top menu it gives me an error:
Class 'Mage2\Framework\System\View\InvalidArgumentException' not found.

[2017-08-14 21:40] indpurvesh commented on #58
Its fixed.

Thanks for raisi

[2017-08-14 21:40] #58 closed

[2017-08-17 15:52] zayngates opened #59 "(1/1) FatalThrowableError"
Hi, I have some error in cart/view page

(1/1) FatalThrowableErrorClass 'Mage2\Framework\System\View\InvalidArgumentException' not found
--
in FileViewFinder.php (line 28)
at FileViewFinder->findInPaths('cart.view', array('C:\\xampp\\htdocs\\laravel-ecommerce\\themes\\mage2\\basic', 'C:\\xampp\\htdocs\\laravel-ecommerce\\modules\\mage2\\feature\\src/views', 'C:\\xampp\\htdocs\\laravel-ecommerce\\m

[2017-08-17 20:54] indpurvesh commented on #59
It should be fixed.

[2017-08-17 20:54] #59 closed

[2017-08-18 06:19] zayngates commented on #59
Perfect, thank you

[2017-08-22 07:00] altafhussain10 opened #60 "Error in during installation"
Hello,

When I try to install either by downloading from GitHub or composer, I get error

[code]

This error is for all packages in the mage2 folder.

I am using Valet 2.0.4 with php 7.0.20 and nginx 1.10.3

Can you please advice what is the problem here?
Also check the attached screenshot.

<img width="827" alt="screen shot 2017-08-22 at 9 59 13 am" src="https://user-images.githubusercontent.com/

[2017-08-22 10:46] nestor-developing commented on #60
Hello,
I am having  same issue
@indpurvesh please advice what is the issue?

![screenshot_10](https://user-images.githubusercontent.com/31207060/29561985-362af048-8755-11e7-87ab-47bdb516f594.png)

[2017-08-22 13:32] aavriik commented on #60
Same problem here with runtime exceptions. Do we have any stable releases?

[2017-08-22 17:48] chchluko commented on #60
Error, install from github and composer

[RuntimeException]
  Could not scan for classes inside "modules/mage2/feature/src/database" which does not appear to be a file or a folder

[2017-08-22 18:40] indpurvesh commented on #60
It should be fixed. Thanks to all for your support.

[2017-08-22 18:40] #60 closed

[2017-08-22 18:55] indpurvesh commented on #60
Error was inside composer.json file.

just Update:

    "classmap": [
        "database/migrations"
    ],

[2017-08-23 06:46] aavriik opened #61 "Composer runtime exception"
Initial install composer error.

![composer](https://user-images.githubusercontent.com/30973338/29602212-cb747e8c-8811-11e7-997e-674b2fa2dc13.PNG)

[2017-08-23 06:49] indpurvesh commented on #61
I just did a commit a minute ago. Do you like to try again. Sorry just type  mistake

[2017-08-23 06:49] #61 closed

[2017-08-23 11:03] aavriik opened #62 "Migration error attribute schema/initial install errors"
From vendor attribute database migrations I assume.

![migration](https://user-images.githubusercontent.com/30973338/29612806-ab42c44c-8835-11e7-86ed-8413994e3e70.PNG)

[2017-08-23 13:44] altafhussain10 commented on #62
Same issue was happening to me. For a quick fix, I copied vendor/mage2/attribute/database folder to the root of my project and then ran the migration again, and it worked fine :)

[2017-08-23 20:55] indpurvesh commented on #62
@altafhussain10 i think the problem is in the order migration running. to me it seems like a feature-product migration is running first then attribute -migration.
today i will fix this problem for sure. thanks to all for your help.

[2017-08-23 21:24] indpurvesh commented on #62
Finally i found the bug. I will leave this open for now. Let me know if anyone has an issue again.

[2017-08-23 23:07] aavriik commented on #62
I found another, it seems like the controller for the user home page doesn't exist.
![homecontroller](https://user-images.githubusercontent.com/30973338/29642315-b37e17d2-889a-11e7-96ec-afc36bbfe785.png)

[2017-08-23 23:08] indpurvesh commented on #62
@aavriik  Thanks i have a look at this issue now.

[2017-08-23 23:11] indpurvesh commented on #62
I just commited file. Let me know. thansk again for solving my bugs @aavriik

[2017-08-23 23:57] aavriik commented on #62
Hi there, this is minor but in the InstallController administrator has a wrong spelling.

Another question, are you in the process of changing the design/codebase right now? There are a few things missing in the pages like login/register buttons and a few bugs.

![magg](https://user-images.githubusercontent.com/30973338/29643346-1c99118a-88a1-11e7-866f-1719c5e9779e.png)

When I tried to access /re

[2017-08-24 02:53] indpurvesh commented on #62
@aavriik I am not worried much about design. If you can do some design that would be so grateful.

Registration Error:  Local environment Email not able to send.

I will double check on checkout page bug. and fix it up soon.

[2017-08-24 06:30] altafhussain10 commented on #62
@indpurvesh Yes I knew that, but I just posted a quick fix so others can use it until you fix the real problem. Thanks mate, you are doing a great job.

[2017-08-26 05:49] #62 closed

[2017-09-03 17:06] zayngates opened #63 "General error: 1005 Can't create table #sql-2278_1a1"
**General error: 1005 Can't create table `ngbaru`.`#sql-2278_1a1` (errno: 150 "Foreign key constraint is incorrectly formed")**

Hi, I got some problem after perform migration
Here detailed error

In Connection.php line 664:

  SQLSTATE[HY000]: General error: 1005 Can't create table `ngbaru`.`#sql-2278_1a1` (errno: 150 "Foreign key constraint is incorrectly formed") (SQL: alter table `product_stor

[2017-09-03 18:28] zayngates commented on #63
![screenshot_381](https://user-images.githubusercontent.com/22495187/30005602-435c5a8a-9110-11e7-8de8-dc6eb4b33349.png)

[2017-09-03 21:12] indpurvesh commented on #63
fixed. thanks again

[2017-09-03 21:12] #63 closed

[2017-09-04 09:12] zayngates opened #64 "Class 'Mage2\Framework\Form\Form' not found"
Hi, I got some problem after install and access admin login.

C:\xampp\htdocs\devlabs\stage5\laravel-ecommerce\vendor\mage2\user-auth\src\Forms\LoginForm.php

![screenshot_382](https://user-images.githubusercontent.com/22495187/30019730-c157465e-918b-11e7-846a-692c5ff80d71.png)

[2017-09-04 09:13] indpurvesh commented on #64
Thanks I will fix this tomorrow for sure

[2017-09-08 20:12] #64 closed

[2017-09-09 02:49] maheshbohara opened #65 "No hint path defined for [mage2-install]."
Help needed,
After starting the server it throws ans exception
"No hint path defined for [mage2-install]."

[2017-09-09 04:34] #65 closed

[2017-09-09 04:35] indpurvesh commented on #65
I just fixed that issue.  Few hour ago so thanks

[2017-09-10 04:09] shankhadevpadam opened #66 "Error during installation."
I have install the mage2 package, following the step in the readme but during the install  i get this error
"RecursiveDirectoryIterator::__construct(/home/john/html/only_laravel_project/laravel-ecommerce/themes): failed to open dir: No such file or directory" and i have create the theme folder after that this error occur "Can't locate path: <>". How to solve this problem.

[2017-09-10 04:11] indpurvesh commented on #66
if you create a just a dummy folder themes/CompanyName/ThemeName/register.yaml  it should be ok

[2017-09-10 06:06] indpurvesh commented on #66
Fixed Bug Thanks @shankhadevpadam

[2017-09-10 06:06] #66 closed

[2017-09-11 03:11] shankhadevpadam commented on #66
I got still error after creating the yaml file please provide me the dummy yaml file.

[2017-09-11 03:13] indpurvesh commented on #66
@shankhadevpadam Bug has been fixed. So if you just do a

    composer update

It should resolve the problem. Let me know if not.?

[2017-09-11 03:27] shankhadevpadam commented on #66
Thanks now working.

[2017-09-11 03:35] indpurvesh commented on #66
perfect

[2017-09-12 01:07] indpurvesh commented on #43
@hirenreshamwala Just added a first api implementation

    /api/category

Slowly will add more soon. Because basic setup has been done. Thanks you for your patients and support.

[2017-09-12 04:12] shankhadevpadam opened #67 "Registration Error."
Type error: Argument 1 passed to Illuminate\Auth\SessionGuard::login() must implement interface Illuminate\Contracts\Auth\Authenticatable, null given,

[2017-09-12 04:13] indpurvesh commented on #67
Are you having errors in front end?

[2017-09-12 04:19] indpurvesh commented on #67
Do you want to do

    composer update

Then try again.? It might fixed the bug. I can't replicate bug in my system so please let me know.

[2017-09-12 04:30] shankhadevpadam commented on #67
Yes i have got error in frontend. While i am trying to checkout.

[2017-09-12 04:46] indpurvesh commented on #67
Fixed. Please do

    composer update

[2017-09-12 04:46] #67 closed

[2017-09-12 04:49] shankhadevpadam commented on #67
[RuntimeException]
  Could not scan for classes inside "/home/padam/html/only_laravel_project/laravel-ecommerce/vendor/mage2/category/database/fa
  ctories" which does not appear to be a file nor a folder

[2017-09-12 04:50] indpurvesh commented on #67
I think i remember that bug. sorry forget to commit. i do it now.

[2017-09-12 04:52] indpurvesh commented on #67
try again.

[2017-09-12 05:01] shankhadevpadam commented on #67
Thanks now working.

[2017-09-12 05:01] indpurvesh commented on #67
Thanks @shankhadevpadam

[2017-09-26 05:46] bloggervista opened #68 "Fix bugs etc.."
There are many things that don't work and simply throws error like invalid exception on various routes. Can we fix it?

[2017-09-26 05:47] bloggervista commented on #68
Just install fresh laravel and if we browse various routes like tax etc.. and various config option we get such errors

[2017-10-10 02:50] sandsax commented on #11
I will study now this solution if works for me i will do a template and add to project ok?

Thanks

[2017-10-10 16:40] Eggotron opened #69 "Duplicate Migration on Install."
The following error appears when using php artisan migrate:

`In Connection.php line 664:

  SQLSTATE[42S01]: Base table or view already exists: 1050 Table 'oauth_auth_codes' already exists (SQL: create table
  `oauth_auth_codes` (`id` varchar(100) not null, `user_id` int not null, `client_id` int not null, `scopes` text null
  , `revoked` tinyint(1) not null, `expires_at` datetime null) default c

[2017-10-10 16:55] Eggotron commented on #69
Update:
The problem appears at random in different parts of the migration process, not just with table "oauth_auth_codes".

Is there any way around this issue? The installation is resulting in a tedious process and the documentation isn't clear on this problem. Even when trying to access the page with "php artisan serve" it doesn't open the installation process where it automated the migrations (I

[2017-10-11 01:11] indpurvesh commented on #69
@Eggotron  Yes i do agree with your migration file location point.
In future i will make modules/mage2/ecommerce as an Package so it will be moved to vendor folder.

I will double check with the migrate bug and commit a fix soon.

[2017-10-11 01:17] indpurvesh commented on #69
@Eggotron I hope it should be fixed now.

[2017-10-12 13:19] saularis opened #70 "Laravel 5.1"
Will your ecommerce module run on Laravel 5.1? I was thinking if I change  "laravel/framework": "5.5.*" to  "laravel/framework": "5.1.*",

[2017-10-12 20:27] indpurvesh commented on #70
@saularis simple answer is no. But If you really wanted to make it work for laravel 5.1 then you can manually you have to upgrade and follow the folder structure and copy and paste the codes.

[2017-10-14 14:28] saularis commented on #70
@indpurvesh thanks

[2017-10-14 14:28] #70 closed

[2017-10-14 19:14] dakshhmehta commented on #69
Sorry, but the problem still persist. The problem mentioned by @Eggotron is resolved but has now new problem as the order_statuses table is written after the orders table which has foreign key to the order_statuses table.

Need to move it up. Sending you change, please accept and test once.

[2017-10-14 19:16] dakshhmehta commented on #69
@indpurvesh please check the #71 and once merged, @Eggotron your error should be gone.

[2017-10-14 19:19] dakshhmehta commented on #68
Thanks for input, I just joined the project today, and will be looking forward to actively participate in this project. Could you please list out the error or mention the URI on which you are getting an error?

[2017-10-14 19:33] dakshhmehta opened #72 "Following Coding Standard"
Hello,

as you might have noticed, I recently discovered this package and started loving this. However, I see many of the files, database seeder, and folder structure is getting reintialised and right now is completely missing from the code. For example, due to seeders missing, not able to install or even register a first admin user and get started working on a project.

This won't allow us to wor

[2017-10-14 23:53] indpurvesh commented on #72
@dakshhmehta Sorry it was my mistake and i did remove install module from composer that's why we you have faced the issue of installation. If you try again it should be ok to work and thanks for fixing the order_statues bug.

[2017-10-14 23:54] indpurvesh commented on #69
thanks @dakshhmehta it should be fixed.

[2017-10-14 23:54] #69 closed

[2017-10-15 02:58] bloggervista commented on #68
@dakshhmehta  you can browse to tax routes etc after login it will show 404 like that.

[2017-10-17 11:01] darron1217 opened #73 "PHPUnit sqlite error"
Hello, I new here :)
After I got fresh install of this plugin, I've ran phpunit test.
Then I got an error `Database (/var/www/laravel-ecommerce/storage/database.sqlite) does not exist`

I found `laravel-ecommerce/storage/database_sqlite` file exists, so I changed it's name. Then it worked well.
I was curious why the name of file 'database_sqlite' is different from the file phpunit requires.

Anywa

[2017-10-17 11:05] darron1217 opened #74 "Class 'Form' not found error on view"
Whenever I try to enter product list page, this plugin emits the error below.

`Class 'Form' not found (View: /var/www/laravel-ecommerce/themes/mage2/default/views/catalog/product/view/product-card.blade.php) (View: /var/www/laravel-ecommerce/themes/mage2/default/views/catalog/product/view/product-card.blade.php)`

I guess `illuminate/html` was removed from core since 5.5.
So... please add alterna

[2017-10-17 20:47] indpurvesh commented on #73
should be fixed

Thanks for raising this @darron1217

[2017-10-17 20:47] #73 closed

[2017-10-17 20:50] indpurvesh commented on #74
It should be fixed now too. yes You are right about the duplicate Theme/Mage2- Default folder

Thanks @darron1217

[2017-10-17 20:50] #74 closed

[2017-10-17 22:40] Eggotron opened #75 "Variable Typo on DB Migration"
Found a typo on the database migration schema.
Here's a fix: ( Couldn't do a pull request )

Line 457 Configuration::create(['configuration_key' => 'mage2_tax_class_default_country_for_tax_calculation',
                                'configuration_value' => $countryModel->id]);

[2017-10-17 22:46] indpurvesh commented on #75
thanks @Eggotron

[2017-10-17 22:46] #75 closed

[2017-10-18 02:38] darron1217 opened #76 "Applying AdminLTE template"
https://github.com/almasaeed2010/AdminLTE
Yeah, AdminLTE is based on MIT License, so maybe we can utilize it for our fancy admin page :)
How do you think about it?

[2017-10-18 02:49] darron1217 opened #77 "add .gitignore on /storage folder (for ignoring oauth-private.key files)"
![image](https://user-images.githubusercontent.com/8064923/31698607-37e5edae-b3f9-11e7-9f8d-cd8e94786d87.png)

After fresh install, `oauth-private.key` and `oauth-public.key` was included on git.
So... how about adding `.gitignore` file with *.key rule?

[2017-10-18 02:53] indpurvesh commented on #77
i have to delete those file. Those file suppose to created automatic during installation process.

Thanks @darron1217  for bringing this to me.

[2017-10-18 02:53] #77 closed

[2017-10-18 02:55] darron1217 commented on #76
https://github.com/acacha/adminlte-laravel
This can be a good example :)

[2017-10-18 02:58] indpurvesh commented on #76
@darron1217  Thanks for the idea. I keep both in my mind.

Initially i think about making a nice design too but then i think i don't want to waste much energy into design at this stage. Once i am able to add at least most basic level of features then i work on design in more details. Thanks again for your feedback.

[2017-10-18 03:11] darron1217 commented on #76
@indpurvesh  Thanks for consideration, too :)
I'm currently working with this issue, and I'll let you know if I succeed

[2017-10-18 04:59] darron1217 opened #78 "Removing Installer after Installation"
It would be nice if we have a neat way to remove installer after installation :)
(All I need is removing `modules/mage2/install` folder)

[2017-10-18 05:02] indpurvesh commented on #78
@darron1217  it should be just comment out from config/app.php file.

[2017-10-18 05:03] indpurvesh commented on #76
@darron1217 I think it wold be more great fully if you can help it on front end theme.

[2017-10-18 05:15] darron1217 commented on #76
@indpurvesh Hmm, sorry but I'm planning to apply paid theme, so I can't register it on github...

[2017-10-18 05:25] darron1217 opened #79 "Demo Admin Account"
Can you share account for admin page on demo site?

[2017-10-18 05:27] indpurvesh commented on #79
its : Email : admin@admin.com
PW: admin123

But i have not updated demo website to latest version yet.

[2017-10-18 05:27] #79 closed

[2017-10-18 05:28] darron1217 commented on #79
@indpurvesh Yep :) Thanks

[2017-10-18 05:31] darron1217 commented on #76
https://github.com/jeroennoten/Laravel-AdminLTE
This is the best to apply 👍

[2017-10-18 05:47] darron1217 opened #80 "AttributeController Error"
`Class 'Mage2\Attribute\Controllers\Admin\AdminController' not found`

![image](https://user-images.githubusercontent.com/8064923/31702588-e6e0b3fc-b412-11e7-99cf-05cec11f6ef0.png)

It is caused by namespace
https://github.com/mage2/laravel-ecommerce/blob/45dcd885a90973520847be4aba2c20f31943b6ad/modules/mage2/ecommerce/src/Http/Controllers/Admin/AttributeController.php#L25

This should be changed

[2017-10-18 22:14] indpurvesh commented on #80
This Feature is under development so not yet finished.

[2017-10-19 00:19] darron1217 commented on #80
@indpurvesh Okay I'll look forward to being updated :)

[2017-10-19 00:19] #80 closed

[2017-10-23 03:35] shanuka opened #81 "Place an order not working"
"Type error: Argument 1 passed to Mage2\Ecommerce\Events\OrderPlaceAfterEvent::__construct() must be an instance of Mage2\Order\Models\Order, instance of Mage2\E ▶"

[2017-10-23 04:37] indpurvesh commented on #81
its on my list. But thanks again for raising most likes it might be fixed in tomorrow commit.

[2017-10-24 01:08] indpurvesh commented on #81
it should be fixed.

[2017-10-24 08:55] mdmaroof opened #82 "My Order in Account Dahboard is not working"
"Route [my-account.order-return.create] not defined. (View: /Users/mohdmaroof/Sites/ecommerce/themes/mage2/default/views/order/my-account-order-list.blade.php)"
showing this error

[2017-10-24 12:40] #82 closed

[2017-10-24 12:51] mdmaroof commented on #81
product is not adding to database on submitting database

[2017-10-24 14:01] mdmaroof opened #83 "product is not adding to database on submitting order"
product is not adding to database on submitting order

[2017-10-24 20:21] indpurvesh commented on #83
Bug should be fixed. Sorry it was my mistake to comment out function call.

[2017-10-24 20:21] #83 closed

[2017-10-24 20:22] #81 closed

[2017-10-24 20:28] indpurvesh commented on #82
This bug should be fixed.

[2017-10-25 07:50] mdmaroof opened #84 "wishlist in my account"
Wishlist is not removing from my account showing
 **`"Trying to get property of non-object"`**

[2017-10-25 07:51] indpurvesh commented on #84
I will check and fix it tomorrow.

Just want to confirm you received the when you have click on remove from wishlist right?

[2017-10-25 07:54] mdmaroof commented on #84
yes at the time of removing from Wishlist in my account

and also in admin panel order view status is not changing

[2017-10-25 07:55] indpurvesh commented on #84
Both sound so simple bug to fix. I will do it tomorrow thanks for raising.

[2017-10-25 21:38] indpurvesh commented on #84
Both bug should be fixed. @mdmaroof

[2017-10-25 21:38] #84 closed

[2017-10-30 00:27] indpurvesh commented on #78
It should be fixed. Thanks @darron1217

[2017-10-30 00:27] #78 closed

[2017-10-30 00:35] indpurvesh commented on #76
I am thinking to creating my own admin theme rather then depend on someone else. So thanks darron1217 i am closing this issue. Thanks you for your support

[2017-10-30 00:35] #76 closed

[2017-10-31 02:06] darron1217 commented on #18
@indpurvesh
I can help with Korean translation.

But how about applying .po .mo style translation?
If then, we can utilize google translation. Which makes translation super-easy :)
https://translate.google.com/toolkit

All we have to do is just import .po file, convert&edit it, then download it.

For reference, competitor [laravel-aimeos](https://github.com/aimeos/aimeos-laravel) already using i18

[2017-10-31 02:44] indpurvesh commented on #18
@darron1217  Thanks i keep that idea in my mind. Once i finished some important features then i will implement this one too thanks again.

[2017-10-31 04:25] darron1217 opened #86 "admin template update issue"
I saw this fancy admin template at demo site.
![image](https://user-images.githubusercontent.com/8064923/32207332-95fb8d1e-be3e-11e7-99be-6b5c422d9682.png)

But, after fresh install at my server, I got
![image](https://user-images.githubusercontent.com/8064923/32207349-b95a6258-be3e-11e7-9803-81c08c1fa695.png)

Is it a premium template?

[2017-10-31 04:27] indpurvesh commented on #86
no it just a design that i am building it by myself.

[2017-10-31 04:28] darron1217 opened #87 "admin as a module"
This plugin has great module system :)

I wondered if there's a plan to make admin pages as module (to make it customizable)

This is an example from `aimeos-laravel`
![image](https://user-images.githubusercontent.com/8064923/32207454-5371f63a-be3f-11e7-9ada-b5233c5e29fa.png)

[2017-10-31 04:30] darron1217 commented on #86
@indpurvesh Then... Is there a way to apply it? :)

[2017-10-31 06:08] indpurvesh commented on #87
once most feature gets developed then i will make all separate module and developer can create modules too.  take a look at the repository.

https://github.com/mage2

[2017-10-31 06:12] indpurvesh commented on #86
if you download the latest version and it should be ok

[2017-10-31 06:43] darron1217 commented on #86
@indpurvesh I got latest version just now. But it didn't change :(

[2017-10-31 08:43] darron1217 opened #88 "The way to develop theme"
Now I'm trying to apply my theme on this plugin :)

But I got no idea how this system works...haha

I guess creating documentation is ongoing, but I can't wait for it to be done...

I would be very nice if you tell me a way to create my own theme :)

[2017-10-31 10:50] darron1217 commented on #88
Okay, I found the code below.
Is it the right way to add path on config?

![image](https://user-images.githubusercontent.com/8064923/32220281-849eb0b0-be74-11e7-947d-b1a28cef34bb.png)

[2017-10-31 20:58] #87 closed

[2017-10-31 21:02] indpurvesh commented on #88
Front end theme you just change:

    'paths' => [
        realpath(base_path('themes/vendor-name/theme-name/views')),
    ],

[2017-10-31 21:02] #88 closed

[2017-10-31 21:03] indpurvesh commented on #86
Have you try clear cache?

    php artisan cache:clear

[2017-11-01 04:54] darron1217 commented on #86
@indpurvesh Yep I surely did it

![image](https://user-images.githubusercontent.com/8064923/32260587-1e369818-bf0c-11e7-919c-7adec426220a.png)

[2017-11-01 05:36] darron1217 commented on #86
@indpurvesh I cleared cache and it didn't work :(

[2017-11-01 05:42] indpurvesh commented on #86
To me it seems like you are using version 1.8 rather then (dev-master) current development version.

[2017-11-01 06:10] darron1217 commented on #86
I've been always using 'dev-master'...
It's weird. Below is what I did yesterday.

1. Git Clone from repository (Of course, master branch)
2. composer update
3. create .env file
4. Followed Installation process at `mysite.com/install`
5. remove `mage2/install` from composer.json
6. Access to admin
7. old view is showing... :(

This is my current composer.json
![image](https://user-images.githubuse

[2017-11-01 11:11] darron1217 opened #89 "Category disappears from view after create/update"
While `parent_id` on `categories` table is nullable integer,

https://github.com/mage2/laravel-ecommerce/blob/dc333623244b587d5b61e3609d5e66210ec98070/modules/mage2/ecommerce/database/migrations/2017_03_29_000000_mage2_ecommerce_schema.php#L159

`Category::getAllCategories()` function check empty `parent_id` with 0.

https://github.com/mage2/laravel-ecommerce/blob/dc333623244b587d5b61e3609d5e66210

[2017-11-01 15:02] darron1217 opened #90 "Providing Cart Items"
Will you allow us to use cart products on theme? :)

There's only count at current ViewComposer....
https://github.com/mage2/laravel-ecommerce/blob/dc333623244b587d5b61e3609d5e66210ec98070/modules/mage2/ecommerce/src/Http/ViewComposers/LayoutAppComposer.php#L43

into `$cart = Session::get('cart'); ` would be nice :)

[2017-11-01 20:14] indpurvesh commented on #90
Yes inside any of your layout or balde file if you use

    $cartItems = Session::get('cart');

you will get collection of Cart Items

[2017-11-01 20:14] #90 closed

[2017-11-01 20:28] indpurvesh commented on #89
This bug should be fixed. Yes in Past it was not null and default to 0 but now i changed to Null

[2017-11-01 20:28] #89 closed

[2017-11-02 02:08] darron1217 opened #91 "Category product filter is not implemented"
![image](https://user-images.githubusercontent.com/8064923/32306334-09b9ec2a-bfbe-11e7-9332-49c3c55d011a.png)

I want to know how to implement 'filter-box' which is already implemented on demo site :)
(I can't find it on current repository)

https://github.com/mage2/laravel-ecommerce/blob/a2896060883dc865b0c7cdbac625692641003d16/themes/mage2/default/views/catalog/category/options.blade.php#L18

[2017-11-02 02:11] indpurvesh commented on #91
@darron1217 That feature doesn't work in this new database version. I am working on it but it will take some time.

[2017-11-07 00:25] darron1217 opened #92 "Adding function for mainpage banner"
Most of Shopping Mall has main page banner :)
How about implementing banner image uploading module as a default?

![image](https://user-images.githubusercontent.com/8064923/32470789-751e5158-c39d-11e7-9fbe-81824d1680e6.png)

[2017-11-07 00:26] indpurvesh commented on #92
It should be implemented as a custom module and not a in build feature.

[2017-11-07 00:26] #92 closed

[2017-11-09 07:07] harish-bisht opened #93 "Error while setting up project using mage2/framework"
I am getting following error while setting up mage2 project using composer
`In Facade.php line 221:

  Call to undefined method Mage2\Framework\AdminMenu\AdminMenuBuilder::add()`

I am using mage2/framework in composer.json

[2017-11-09 19:22] smccoy78 commented on #86
I am getting the same results as the op. I just did a fresh install yesterday. My mage2/install and mage2/module-installer are both "dev-master".

[2017-11-09 19:39] indpurvesh commented on #86
@smccoy78  i will take a look at this bug.

[2017-11-09 20:46] indpurvesh commented on #93
@harish-bisht
Sorry to say but right now i have drop the idea of mage2/framewrok as a Laravel E commerce package. So you can't setup e commerce using any laravel project using mage2/framework.

Right now i am concentration on Mage2 E commerce App only.

Thanks
Purvesh

[2017-11-09 20:46] #93 closed

[2017-11-09 20:55] indpurvesh commented on #93
@harish-bisht

Just an idea if you really want to use it in your existing Laravel Project. You can download and Put

    modules/ecommerc

as in your Laravel Project and then

open your composer.json and add line

    "Mage2\\Ecommerce\\": "src/"
    composer dump-autoload

then open config/app.php and add Provider class.

     Mage2\Ecommerce\Provider::class,
     php artisan migrate

You might f

[2017-11-09 21:05] indpurvesh commented on #86
@smccoy78 Today i did a fresh installtion and i am getting a new bootstrap4 admin panel rather then old bootstrap3 admin panel. and same on front end i get a new bootstap4 theme too.

Do you want to try to install it into a new folder. It seems some weird kind a bug. I will dig deeper and try to find a cause.  thanks for your help

[2017-11-10 06:08] harish-bisht commented on #93
thank you for the suggestion.
While setting Mage2 E commerce project using composer method. it install correctly but it does not show many modules while  in demo admin it shows many features. What I am doing wrong?
![mage2 e commerce](https://user-images.githubusercontent.com/12655090/32645131-9f3a5d04-c60b-11e7-8666-3a4eab1a9e73.png)

[2017-11-10 06:18] indpurvesh commented on #93
@harish-bisht

yes you right. Actually i haven't updated demo.
Yes in previos version i have many features but in new one i am changing different database table structure and new file and folder arrangement.
So most features now comes with custom modules rather then framework feature. so i am currently working on making most basic feature for e commerce and custom module and theme features. But at

[2017-11-10 06:41] harish-bisht commented on #93
Thanks for prompt reply.

How can I use module-installer in Mage2 E commerce? Also can I use module https://github.com/mage2/contact-us  and other modules?

[2017-11-10 06:43] indpurvesh commented on #93
@harish-bisht  i think you can do it just by adding it to composer and it should work but i haven't test it yet.

[2017-11-10 09:43] harish-bisht commented on #93
Can you give brief idea about the add custom feature. I want add few features in it as framework has.
I am ok in Laravel but not very good :)

[2017-11-10 15:46] smccoy78 opened #94 "DataGrid Sorting"
I wondering how to allow the DataGrid to sort? I have the column option set as sortable, but when the header link is clicked nothing happens.

[2017-11-10 21:35] indpurvesh commented on #94
@smccoy78 Yes you right it's a bug.

[2017-11-10 21:57] indpurvesh commented on #94
Bug should be fixed. I guess you were talking about the Product Page bug. Thanks for raising issue

[2017-11-10 21:57] #94 closed

[2017-11-15 20:53] indpurvesh commented on #91
@darron1217 Category filter feature is almost finished. I am sure it should have many bugs so please try install again and let me know if you face any bugs.

[2017-11-15 20:53] #91 closed

[2017-11-15 20:54] #86 closed

[2017-11-27 12:16] jabbatoyo opened #95 "bug mail and validate-quantity product"
Hello,
I found a bug, when in the order view and send a SendEmailEnvoice, the following error appears: "the view 'mail.order.pdf'" not found
Solution: "mail.pdf".

I realized that when you create a product with quantity 2 and you enter as a standard user and add that product to your basket with an amount of 3 and the system accepts it, when it should not be possible to add a product of quantity 3

[2017-11-28 02:25] indpurvesh commented on #95
@jabbatoyo  i have fixed the validate-quantity product.
I will fix other bug soon too .thanks for raising bug.

[2017-11-28 20:28] indpurvesh commented on #95
@jabbatoyo Bug - Mail is fixed too.

Thanks for raising bug.

[2017-11-28 20:28] #95 closed

[2017-12-04 11:11] vladbuich opened #96 "object not found http://localhost:8080/laravel-ecommerce/install"
could anybody help with project installation

[2017-12-04 20:28] indpurvesh commented on #96
@vladbuich Can you take a screenshot and let me know some specific about the error you have received.
I just try in my local machine and it work perfectly fine.

[2017-12-05 04:43] vladbuich commented on #96
@indpurvesh when i was installing using your notes
<img width="943" alt="2017-12-05 9 38 47" src="https://user-images.githubusercontent.com/24589835/33590311-3c1be4ba-d9a0-11e7-9276-07d57df637f1.png">
i had an error "object not found" going to http://localhost:8080/laravel-ecommerce/install
i suppose there is no install folder in project. you already have open issue with the same problem in 15 Oct

[2017-12-05 04:49] indpurvesh commented on #96
@vladbuich  i am not sure but to me it seems something is wrong.
You should have an install folder inside
modules/mage2/install

 Can you confirm do you have this in your project?

[2017-12-05 04:55] vladbuich commented on #96
yes, i have. is it the same?

[2017-12-05 04:57] indpurvesh commented on #96
Yes
Which Php version you using it?

[2017-12-05 05:04] vladbuich commented on #96
@indpurvesh
<img width="464" alt="2017-12-05 10 01 50" src="https://user-images.githubusercontent.com/24589835/33590790-5e5e69e6-d9a3-11e7-944a-859d6e317931.png">

and what i have in modules/mage2/install
<img width="776" alt="2017-12-05 10 03 53" src="https://user-images.githubusercontent.com/24589835/33590857-acc9ae92-d9a3-11e7-83ce-f7214891ac96.png">

[2017-12-05 05:06] indpurvesh commented on #96
It contains installation regarding code.
And some sample database seed related files.

[2017-12-05 05:06] indpurvesh commented on #96
If you can give me a screenshot of error would be perfect? Thanks for helping me to improve code base.

[2017-12-05 05:09] vladbuich commented on #96
last picture shows what i have when go to http://localhost:8080/laravel-ecommerce/modules/mage2/install/

[2017-12-05 05:11] indpurvesh commented on #96
I get it. It’s not a bug

URL in browser should be:

Http://localhost:8080/laravel-ecommerce/public/install

Try this url and it should work

[2017-12-05 05:18] vladbuich commented on #96
got the same error "object not found"
what i have in public folder
<img width="616" alt="2017-12-05 10 18 32" src="https://user-images.githubusercontent.com/24589835/33591164-ad09fc98-d9a5-11e7-98d9-f379d0b721a5.png">

[2017-12-05 05:28] indpurvesh commented on #96
seems like your mod_rewrite is not enabled.

try this url:
http://localhost:8080/laravel-ecommerce/public/index.php/install

[2017-12-05 06:10] vladbuich commented on #96
solved the problem by setting the access rights to the required folders

[2017-12-05 06:12] vladbuich commented on #96
Thank you for your quick response

[2017-12-05 06:12] #96 closed

[2017-12-05 06:23] darron1217 commented on #86
@indpurvesh Now demo site also shows old theme of admin page....
How about re-opening this issue?

![image](https://user-images.githubusercontent.com/8064923/33592832-1af9556c-d9d0-11e7-90e0-132d213c4e6e.png)

[2017-12-05 06:24] darron1217 commented on #72
@indpurvesh
How about using those popular plugins for modulation?
https://github.com/caffeinated/modules
https://github.com/caffeinated/themes

It's external pakage, but we can copy the style from it :)

[2017-12-05 19:52] indpurvesh commented on #86
@darron1217 This is the new design using bootstrap4.

Yes soon i will update and make a professional looking admin theme but in the mean time it stay like this.

[2017-12-05 20:00] ReneKirk opened #97 "Copy/pasting too fast?"
Your license comments in the code contains:

` *
 * Do not edit or add to this file if you wish to upgrade PrestaShop to newer
 * versions in the future. If you wish to customize **PrestaShop** for your
 * needs please refer to http://mage2.website for more information.
 *`

[2017-12-05 20:02] indpurvesh commented on #97
@ReneKirk Thanks

[2017-12-05 20:02] mauran commented on #97
https://github.com/mage2/laravel-ecommerce/blob/master/modules/mage2/ecommerce/src/Http/Controllers/WishlistController.php

[code]

[2017-12-05 21:05] indpurvesh commented on #97
thanks @ReneKirk & @mauran

[2017-12-05 21:05] #97 closed

[2017-12-06 06:38] darron1217 commented on #86
@indpurvesh I thought blue theme is the new one....
If then, mage2 admin was working perfectly since begging of this issue...

[2017-12-07 00:28] darron1217 opened #99 "mage2/install bug"
https://github.com/mage2/install/issues/1

I opend an issue at mage2/install repo

There's an error while installing new mage2 ecommerce

[2017-12-07 00:34] #99 closed

[2017-12-07 06:38] darron1217 opened #100 "Adding composer merge support for modules"
I mostly use Laravel because of composer package adding ability.

How about adding composer merge support for modules? It would allow us to do many more thinigs :)
(Check the link below. This functionality is already implemented)

https://github.com/wikimedia/composer-merge-plugin

[2017-12-07 09:49] darron1217 opened #102 "Module development (how to)"
I'm trying to add my first module on this system

But I'm stuck on registering provider `Module.php`

It seems like the only way to add module is to manually register the provider to mage2/ecommerce module.

Is there a proper way to add Module?

[2017-12-07 18:17] vladbuich opened #103 "how to make a correct ajax post request"
need a help to create a correct ajax request. always have an 419 or 500 error. i suppose problem in request url or route
ajax:
`$.ajaxSetup({
           headers: {'X-CSRF-Token': $('meta[name=csrf_token]').attr('content')}
        });
  $.ajax({
                  url: "./send-message",
                  type: "POST",
                  data: {
                         "text": text},

[2017-12-07 22:03] indpurvesh commented on #103
I think you perfectly fine except one simple  error.

    $.ajaxSetup({ headers: {'X-CSRF-Token': $('meta[name=csrf-token]').attr('content')} });
    $.ajax({ url: "./send-message",
            type: "POST",
            data: {  "text": text}, dataType: "json",
            success: function(response){
                   alert(response);
                }
           });

$('meta[name=csrf-token]').

[2017-12-07 22:03] #103 closed

[2017-12-08 04:52] vladbuich commented on #103
@indpurvesh you're right , but nevertheless i face with the same error 500 (internal server error)

[2017-12-08 05:26] indpurvesh commented on #103
@vladbuich can you put your laravel.log file content here.
    storage/log/laravel.log

If i can see your log it helps me to understand why you getting 500 error. thanks

[2017-12-08 05:32] vladbuich commented on #103
[laravel.log](https://github.com/mage2/laravel-ecommerce/files/1541500/laravel.log)

[2017-12-08 05:34] indpurvesh commented on #103
@vladbuich seems like some kind a permission issue that's why it causing an 500 error

[2017-12-08 05:38] #100 closed

[2017-12-08 05:38] darron1217 commented on #100
@indpurvesh Okay, thanks for reviewing anyway :)

[2017-12-08 05:47] indpurvesh commented on #102
you can do it inside config/app.php provider section

just use module.php file namespace into config/app.php (Provider section)

    Mage2\ModuleName\Module::class,

I hope this would help.

For autoloading file you can add namespace into composer,json and use

    composer dump-autoload

thanks

[2017-12-08 05:50] vladbuich commented on #103
@indpurvesh it didn't help. no more idea what to do(

[2017-12-08 05:54] vladbuich commented on #103
@indpurvesh how would you do this task?

[2017-12-08 05:59] indpurvesh commented on #103
Use google chrome console or inside developers tool.

Try to do dump into first line of controller and make sure route is fine.
Try to change post to get request
If you have a debug tool setup in your editor that helps too.

To me it seems some very simple problem.

[2017-12-08 06:05] darron1217 commented on #102
Thanks, I'll go for it :)

[2017-12-08 06:05] #102 closed

[2017-12-08 12:45] Kostyarik opened #104 "How to make filter by brand like it presented in demo site?"
I want to know, whether it preinstalled feature or I need to do it myself?

[2017-12-08 20:24] indpurvesh commented on #104
Here is the step to create an Product Specification Attribute:

Login to Admin Panel.
Go to Catalog => Attribute => Create Attribute

Fill out form as:
Type: Product,
name: Brand
identifier: brand
use as: specification
field type: dropdown
sort Order: 10

create Different Brand brand name as an dropdown options.

Once you go to product Edit on backend.
You will see Attributes panel(card) it will a

[2017-12-08 20:24] #104 closed

[2017-12-09 22:56] tehuel opened #105 "Is planned an Omnipay integration?"
I've found this ecommerce  solution and really liked it, but the problem is that only Paypal is supported at the moment and Paypal doesn't work well in my country.

Looking for alternatives in payment processing i came across [Omnipay](https://github.com/thephpleague/omnipay), wich aims to be a standarized payment gateway interface.

Is viable to integrate it?

[2017-12-09 23:34] indpurvesh commented on #105
Yes you can make any payment gateway modules in here too. I am working on custom module development feature and documentation.

If it’s so urgent for you in that case I can make a custom payment module for you. With minor cost and if you preferred to do by urself I am more then happy to help you.

Thanks
Purvesh

[2017-12-11 21:09] ajitdas123 opened #106 "File structure documentation"
Hi indpurvesh,
Thank you for this awesome project.
Btw i want to ask if it is possible to make a readme file along with the file structure for the project.
I was looking for models controllers routes but those are empty and couldn't find the resource folder too, it took me sometime to find that those are actually under **modules>mage2**
i also saw some of the same files also in **themes folder** .

[2017-12-11 21:35] indpurvesh commented on #106
Modules=> mage2  contact the CODE base and Admin Theme(Views) files.
Themes/mage2/default => Frontend theme.

I hope above gives you some idea.

I am just not sure about what you mean by Package as installer?

[2017-12-12 01:14] #106 closed

[2017-12-12 01:14] #105 closed

[2017-12-14 18:05] ajitdas123 commented on #106
Oh ic. so if i want to make a new theme for the project shall i overwrite the theme file inside Themes/mage2/default or shall i make a new theme folder and if so how do i link it ?

And package installer means. This project of yours is like one click installer  just like wordpress. How did you do that??
I mean to say is. When i loaded the project for the first time and went to this url www.example

[2017-12-18 15:41] vladbuich opened #107 "can't add pictures and send email invoices"
i'd like to understand is it my installation problem or it didn't work earlier. And what i need to do to fix it
when i'm trying to change the order status i have this screen.
<img width="1280" alt="2017-12-18 20 37 19" src="https://user-images.githubusercontent.com/24589835/34114007-57e60048-e433-11e7-8d7a-8f044df76657.png">

also i can't add/load/delete products photos
<img width="580" alt="2017-

[2017-12-18 16:43] smccoy78 opened #108 "Error adding products."
When I attempt to add a new product I get the following error:

Error in Saving Product: SQLSTATE[42S22]: Column not found: 1054 Unknown column '0' in 'field list' (SQL: update `products` set `0` = {"id":3,"type":"PRODUCT","name":"AWG","identifier":"awg","use_as":"VARIATION","field_type":"SELECT","sort_order":12,"created_at":"2017-11-15 22:56:34","updated_at":"2017-11-15 22:56:34","pivot":{"produc

[2017-12-18 16:45] smccoy78 commented on #108
Here is the Post Data.

_token | "4osajlu9czouN3pPttBiVJFuIymLrC7jE93NLHGw"
_method | "put"
name | "Honeywell Thermostat Wire"
category_id | array:1 [▼   0 => "4" ]
slug | "honeywell-thermostat-wire"
sku | "HTW-1000-10"
description | "<p>Honeywell OEM 10 gauge thermostat wire.</p>"
price | "32.09"
status | "1"
qty | "500"
in_stock | "1"
track_stock | "1"
is_taxable | "1"
page_title | ""
page_descr

[2017-12-18 20:35] indpurvesh commented on #108
To me it seems like Error is belongs to Product Attribute Save/Update bug. Ideally it should ignore if Attribute Value is not specified. I will take a look at the bug and fixed it soon Thanks for raising.

[2017-12-18 20:46] indpurvesh commented on #107
First Error is : Email Setup.

Currently I am using MailTrap

How to Setup: open your .env file

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=YOUR-MAIL-TRAP-USER-ID
MAIL_PASSWORD=YOUR-MAILTRAP-Password

Thanks

Second bug seems to related to Permission issue on public folder.

Try to change public/uploads &  public/vendor folder permission to : 755 or 777

Thanks

[2017-12-18 22:32] smccoy78 opened #109 "Product fields not saving to database"
When I create a new product some of the fields are not being saved to the database. It will save the name, category, slug and price, but all the rest are not stored. I have checked the request data and everything is there. I am not receiving any errors either.

[2017-12-19 03:24] ihabhamad commented on #109
new product working fully i tested it reinstall the project

[2017-12-20 15:20] vladbuich commented on #107
just tried your advices. when i upload an image i have an internal server error on the following line
<img width="699" alt="2017-12-20 20 08 23" src="https://user-images.githubusercontent.com/24589835/34214083-30d78b0c-e5c3-11e7-8088-6a9bc6b8136a.png">

[2017-12-20 20:19] vladbuich commented on #107
@indpurvesh I’m using mac.
 Do you think this is a bug? I even can’t understand how the upload method works)) so, I’ll try to fix it too. Thank you for your response!

[2017-12-20 20:22] indpurvesh commented on #107
I don't think at this stage its a bug But may be it might be specific to Windows or Mac system because both file system works differently. If you want to give it a try to fix it.

Please open modules/mage2/ecommerce/Image/Service.php file which contains the upload method. Starting point for you to start debug,

thanks
P

[2017-12-20 20:26] vladbuich commented on #107
@indpurvesh I already deployed it in hosting and got the same error. Don’t think it’s a system problem

[2017-12-20 20:32] indpurvesh commented on #107
May be it could be a bug. I will start debug soon. Thanks for raising

[2017-12-21 02:25] ihabhamad opened #110 "whats about deals or sales"
whats about deals or sale or offers not coupons?

[2017-12-21 04:31] ihabhamad commented on #110
whats about tags

[2017-12-21 07:40] vladbuich commented on #107
@indpurvesh i found the problem. in service.php when it creates new folder for image, the folder has permission 411 that's why the image can't be loaded

[2017-12-21 09:37] #107 closed

[2017-12-24 16:28] llamorinjason opened #111 "Checkout Function not working"
Upon checking out, the order would not be shown to My Orders in the profile. and Lacking some validation upon submit your check out items please fix. Thanks

[2017-12-27 11:41] ihabhamad commented on #111
yes Checkout  not working yet but i well fix it soon

[2017-12-27 11:45] ihabhamad opened #112 "middlewares on front controller"
if you using middleware on front controllers theme well be default mage2 theme not active theme path

[2017-12-27 12:01] ihabhamad commented on #112
its working if  middleware extend  Mage2\Ecommerce\Http\Controllers\Controller; but not perfect solution
{middleware override extends basecontroller }

[2017-12-27 22:49] ihabhamad commented on #11
i now working on front end theme and some enhancement

[2018-01-05 15:44] peerrabe opened #113 "Class frontguest does not exist"
http://demo.mage2.website/password/reset

[2018-01-06 07:52] indpurvesh commented on #113
I have fixed it on master branch but once i will update the Demo i will close this issue.

thanks for raise @peerrabe

[2018-01-06 09:44] peerrabe commented on #113
ah, as simple as that, thanks

[2018-01-06 11:48] peerrabe opened #114 "InvalidArgumentException: No hint path defined for [mage2-user-auth]."
also password reset problem for admin accounts http://demo.mage2.website/admin/password/reset

[2018-01-06 20:41] indpurvesh commented on #114
It should be fixed. in master branch.

[2018-01-06 20:41] #114 closed

[2018-01-06 20:55] indpurvesh commented on #111
It should be fixed in master branch

thanks for raising the bug. @llamorinjason  & @ihabhamad

[2018-01-06 20:55] #111 closed

[2018-01-06 20:58] indpurvesh commented on #110
I will implement later on some sales & marketing related feature & Coupon Code.

Product tags features comes as a i hope custom module. Currently I am working on Custom module feature and documantation so once it will be done. I will put it on website.[Mage2 Website](http://mage2.website)

This is not a bug so i will close this issue as of now. thanks @ihabhamad

[2018-01-06 20:58] #110 closed

[2018-01-06 20:59] indpurvesh commented on #113
I will close this as of now. Possible i will update the demo next week sometimes. Thanks @peerrabe

[2018-01-06 20:59] #113 closed

[2018-01-11 00:16] indpurvesh commented on #112
I just done some basic custom theme support.

If you create a new theme on frontend then
active using admin->system->theme then
click on Activated button

It will load new views file from new themes folder.

[2018-01-11 00:16] #112 closed

[2018-01-11 00:45] ihabhamad commented on #112
yes i am create new theme sorry  for wrong  describe problem but in middlewares act as FrontAuth if i actve my new theam and i don't extend Mage2\Ecommerce\Http\Controllers\Controller default theme well be showing on login page if extend Controller work properly
`class FrontAuth
{
    /**
     * Handle an incoming request.
     *
     * @param \Illuminate\Http\Request $request
     * @param \Closu

[2018-01-18 07:14] sivrenpriya opened #115 "not support php 7 version"
not support php 7 version

[2018-01-21 19:11] indpurvesh commented on #115
More information please thanks

[2018-01-24 22:20] #115 closed

[2018-01-30 01:25] #109 closed

[2018-01-30 01:25] #108 closed

[2018-02-01 09:01] prasadbugad opened #116 "Class 'Mage2\Ecommerce\Http\Controllers\Admin\OptionDropdownOption' not found"
Error occurred while modifying existing attribute from admin panel. I have set field type as "select" and add options into text-fields, it saved successfully but when I am trying to modify same attribute error occurs in AttributeController.php file "_saveDropdownOptions" function at Update existing value.

Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_ERROR)
Class 'Mage2\Ecommer

[2018-02-01 11:04] prasadbugad commented on #116
I had solved the above error by replacing below code in _saveDropdownOptions()

            $attribute->attributeDropdownOptions()->delete();

            foreach ($request->get('dropdown-options') as $key => $val) {

                if ($key == '__RANDOM_STRING__') {
                    continue;
                }

                // Update existing value
                $attribute->attributeDrop

[2018-02-01 11:04] #116 closed

[2018-02-20 06:23] jbcu10 opened #117 "Bug on viewing /cart/view"
I receive an error after adding items to cart when I tried to view it

**Exception:**

Route [cart.update] not defined. (View: /Users/johnbenuera/Projects/laravel-ecommerce/themes/mage2/default/views/cart/view.blade.php)

**Arguments:**
`Route [cart.update] not defined. (View: /Users/johnbenuera/Projects/laravel-ecommerce/themes/mage2/default/views/cart/view.blade.php)`
**Code:**
`public function

[2018-02-20 09:58] krahamath opened #118 "Login error problem"
I found the login error message problem in the demo.
![laravel-error](https://user-images.githubusercontent.com/6831562/36417720-f6036b46-162c-11e8-9ab7-b61f93ed490a.png)

[2018-02-20 17:53] reezooh commented on #117
Hi, there!

There is an error in _routes/web.php_, line 35:

`Route::put('/cart/update', 'CartController@update')
                ->name('cart.updade');`

It should be writen "update" instead.

[2018-02-20 19:18] indpurvesh commented on #117
thanks @reezooh

[2018-02-20 19:18] #117 closed

[2018-02-20 19:54] indpurvesh commented on #118
it should be fixed thanks @krahamath for raising the issue.

[2018-02-20 19:54] #118 closed

[2018-02-21 09:10] krahamath commented on #118
Thank you for the fix.

[2018-02-21 09:18] krahamath opened #120 "Registration improvement"
I see registration, it should say once click the register button. Your account created and click here to login that takes to the login page to login and after login my account should say verify your email like notification alert.

[2018-02-21 09:20] krahamath opened #121 "Address 2 is not required + Terms check is required"
On the Checkout page Address 2 is no need to fill. Please remove that from required And Terms checkbox is not showing required error but When submit without check it clear all the values entered in the Personal and Address form.

[2018-02-21 09:50] krahamath opened #122 "Installation database error"
[code]

[2018-02-21 21:34] indpurvesh commented on #121
@krahamath should be fixed

[2018-02-21 21:34] #121 closed

[2018-02-22 03:46] jbcu10 commented on #117
great, thanks @reezooh

[2018-02-22 06:57] krahamath commented on #121
Fixed or not ?

[2018-02-22 07:16] indpurvesh commented on #121
Fixed

[2018-02-22 07:18] krahamath commented on #121
Ok next fixed means please add your commit to check so that it will help to check and help you on this good project.

[2018-02-22 14:16] krahamath opened #123 "Can you add skip on Db import"
Hi,

Can you add skip on Db import step on installation and Add seed for admin login. Because i did import using run migration but admin details are missing so i must run the db import but that bring me error.

[2018-02-23 08:17] krahamath opened #124 "Digital product support"
Please add digital product support,
1. Add migration for product table with following column: product_type: digital(1)/physical(2).
2. Digital or downloadable formats pdf and zip
3. Download link should be custom generation and it should own to purchased users only with their email(SALT/ECRYPT)

[2018-02-24 21:53] indpurvesh commented on #123
fixed to check

[2018-02-24 21:53] #123 closed

[2018-02-24 21:54] indpurvesh commented on #124
This feature is in queue already.

[2018-02-24 22:03] krahamath commented on #123
I didn’t see any commit and please let me know what is fixed.

[2018-02-24 22:04] indpurvesh commented on #123
commit comes in Install module

https://github.com/mage2/install

[2018-02-24 22:08] krahamath commented on #123
Oh ok thank you

[2018-02-24 22:08] indpurvesh commented on #123
@krahamath welcome

[2018-02-24 22:10] krahamath commented on #120
Please consider this

[2018-02-25 00:17] indpurvesh commented on #120
@krahamath User Activation required only if you set to Yes in Admin Configuration (Default is no.)

I will keep this issue open because once i will finished resent activation mail Route is done then i will close this issue.

<img width="1065" alt="screen shot 2018-02-25 at 1 15 55 pm" src="https://user-images.githubusercontent.com/4218702/36636561-145ce05e-1a2e-11e8-8e8a-669fdfd5a44b.png">

[2018-02-25 01:50] indpurvesh commented on #120
@krahamath Resend Activation Email link Mail is done.

Fixed to checked.

[2018-02-25 01:50] #120 closed

[2018-02-25 08:46] krahamath commented on #120
Thank you

[2018-02-25 16:26] krahamath commented on #43
I am too looking this API feature please give some important on this.

[2018-02-25 16:29] krahamath commented on #11
I need to contribute front and backend. I have other projects in my local those are works with php5.xx but this works only with php 7xx so any idea to make this work at local?

[2018-02-25 20:18] indpurvesh commented on #11
@krahamath
If you have a PHP 7.XXX installed in local it wont stop PHP 5.** Projects.

[2018-02-25 20:41] krahamath commented on #11
It affect so that I am asking

[2018-02-27 05:31] asnike opened #125 "Upload product image error."
Hello. I started to use this package in the first time. Installation is success.
I connected at the admin page. Uploaded Image file in product creation page. But I faced an error.

`ErrorException: Undefined property: Mage2\Ecommerce\Image\LocalFile::$path`

I guess the problem is this part  - "$image->path->name()" - in the 'upload-image.blade.php' file.
I'm sorry that my English is poor.

[2018-02-27 06:32] asnike opened #126 "Add a property on the product error."
![screenshot_15](https://user-images.githubusercontent.com/661041/36713967-6bf9b214-1bd3-11e8-8bfc-ddc57d001c91.png)

[2018-02-27 16:55] Steven0811 commented on #125
Same here, It's been a long time I can't upload image too.
![screen shot 2018-02-28 at 12 54 14 am](https://user-images.githubusercontent.com/4948562/36742234-1d4a4148-1c22-11e8-8226-53807481990c.png)

[2018-02-27 20:51] indpurvesh commented on #125
This should be fixed. Yes @asnike it was the path issue.

[2018-02-27 20:51] #125 closed

[2018-02-27 20:53] indpurvesh commented on #126
@asnike fixed to be checked

[2018-02-27 20:53] #126 closed

[2018-03-05 09:50] krahamath opened #127 "Cart update is not working"
On demo website the cart page after change quantity of product i tired to update but is not working and just placing # in the url.

[2018-03-05 09:52] krahamath opened #128 "Newsletter subscription loading whole page"
When hit the submit button on the footer Newsletter subscription form that load whole page instead it will load themselves be great.

[2018-03-06 20:27] indpurvesh commented on #128
@krahamath Yes you right at this stage idea is just to make things works. once it reach to kind a beta level then i will start adding more ajax and etc features. so i keep this idea in my list but possible won't work on it now.

[2018-03-06 20:27] #128 closed

[2018-03-06 20:29] indpurvesh commented on #127
fixed.

[2018-03-06 20:29] #127 closed

[2018-03-09 03:21] prasan2421 opened #129 "cannot place order"
when clicking on place order button it fades away and does nothing.

[2018-03-09 04:57] indpurvesh commented on #129
@prasan2421 bug: Fixed to check

[2018-03-09 04:57] #129 closed

[2018-03-09 09:50] prasan2421 opened #130 "place order is still not working"
place order is still grayed out and on filling them shows other issues.

[2018-03-10 03:42] indpurvesh commented on #130
Are you looking at Demo? demo hasn't been updated yet.  But bug has been fixed in repository

[2018-03-11 05:31] prasan2421 commented on #130
well the problem i found out is that i set the free shipping option to NO in the admin panel but it still displays in the checkout and both free shipping option and pickup from store needs to be checked for the place order button to actually succeed else the button grays out.

[2018-03-12 19:48] juniorfrogie opened #131 "Register Admin"
How can I register admin user?

[2018-03-12 19:49] indpurvesh commented on #131
@juniorfrogie You will create an Admin User during an installation Step.

[2018-03-12 19:59] juniorfrogie commented on #131
@indpurvesh I tried localhost:8000/install but it appears 'Sorry, the page you are looking for could not be found.'

[2018-03-12 20:02] indpurvesh commented on #131
Are you using an `php artisan serve` command?

[2018-03-12 20:06] juniorfrogie commented on #131
@indpurvesh  I solved by uncomment these lines in app.php
AvoRed\Install\Module::class,
AvoRed\Ecommerce\Provider::class,

[2018-03-12 20:08] indpurvesh commented on #131
Thanks i think i know where the bug is. Thanks again.

[2018-03-12 20:17] juniorfrogie commented on #131
@indpurvesh run into error when goto http://localhost:8000/admin/login

ErrorException (E_WARNING)
Illegal offset type in isset or empty

if (isset($this->customCreators[$config['driver']])) {
            return $this->callCustomCreator($name, $config);
        }

do you have any idea?

[2018-03-12 20:20] indpurvesh commented on #131
Bug comes  from yesterday few commit that i did. So if you replace the code into `config\auth.php` file like below would possibly fix the bug.

    return [
    /*
    |--------------------------------------------------------------------------
    | Authentication Defaults
    |--------------------------------------------------------------------------
    |
    | This option controls the default a

[2018-03-12 20:28] juniorfrogie commented on #131
@indpurvesh replace with your code but still got the same error

[2018-03-12 20:31] juniorfrogie commented on #131
@indpurvesh
'providers' => [
    'users' => [
        'driver' => 'eloquent',
        'model' => AvoRed\Ecommerce\Models\Database\User::class,
    ], ...

but in folder modules/avored/ecommerce/* there is no folder models

[2018-03-12 20:34] indpurvesh commented on #131
it will look up the file into src folder so path should be.

`modules/avored/ecommerce/src/Models/Database`

[2018-03-12 20:52] indpurvesh commented on #131
@juniorfrogie
If you delete and do a fresh installation should fixed the bug.

[2018-03-13 23:48] #131 closed

[2018-03-19 17:10] gstamosbg opened #132 "Paypal module?"
Hi guys. I am interested to make a paypal payment module.. but i cant figure where is a payments in order form? How to add somethink new different than strip. 🔢

Peace ^^ :*

[2018-03-19 18:22] indpurvesh commented on #132
I give you some starting point for creating an paypal module.

# How to create a Paypal Module

You can start by creating a module base files.

    php artisan avored:module:make Gstamos Paypal

You can register payment option inside your `Module.php` file

    use AvoRed\Framework\Payment\Facade as PaymentFacade;
    use Gstamos\Paypal\Payment as PaypalPayment;

    public function boot() {

[2018-03-19 23:00] gstamosbg commented on #132
Interesting.. When i add in boot()
[code]

i am receiving a error :

`Symfony \ Component \ Debug \ Exception \ FatalThrowableError (E_ERROR)
Class 'Gstamos\Paypal\Payment' not found
 `

[2018-03-19 23:03] indpurvesh commented on #132
Just a Question @gstamosbg
Are you trying to create your own Module?

[2018-03-19 23:10] gstamosbg commented on #132
Yep but i dont know what i am doing wrong :D

[2018-03-19 23:19] indpurvesh commented on #132
avored:module:make Gstamos Paypal

When you execute these command in your base directory it will create basic folder structure for your module.

open a file in `modules/gstamos/paypal/src/Module.php` it will contain `boot` method.

Then you create a `modules/gstamos/paypal/src/Payment.php` and code sample for the file is above.

[2018-03-19 23:25] gstamosbg commented on #132
Oh dude... i saw:

And totally messed the thinks.. now is ok :) and also i was added one `'` in end of the file... need to sleep hahaha. Thanks alot :)

[2018-03-19 23:26] #132 closed

[2018-03-21 16:51] Steven0811 opened #133 "In admin's panel (System -> Role) not working."
<img width="1104" alt="screen shot 2018-03-22 at 12 50 47 am" src="https://user-images.githubusercontent.com/4948562/37724148-1626e128-2d6b-11e8-96f4-110c0e21bd6a.png">

[2018-03-21 18:10] indpurvesh commented on #133
@Steven0811

Bug should be fixed on commit no # 1170

[2018-03-22 13:50] Steven0811 opened #134 "When edit some Admin account, page got not found."
<img width="457" alt="screen shot 2018-03-22 at 9 49 00 pm" src="https://user-images.githubusercontent.com/4948562/37774333-e0758204-2e1a-11e8-86ec-23c1a8176c10.png">

click edit then...
<img width="1103" alt="screen shot 2018-03-22 at 9 49 05 pm" src="https://user-images.githubusercontent.com/4948562/37774335-e1b5f798-2e1a-11e8-944b-2c977137c6a3.png">

[2018-03-22 22:47] indpurvesh commented on #134
@Steven0811 i can't replicate the bug. Do you like to re install and try again?

[2018-03-22 22:47] #133 closed

[2018-03-26 05:15] #134 closed

[2018-03-26 07:54] miyurusagarage opened #135 "Is the master branch stable? Class not found exception ProductAttributeBooleanValue"
I updated to the master branch and ran composer update. However now the category page cannot be displayed with the error "Class not found ProductAttributeBooleanValue". This class was removed from the framework repo recently making the master branch unstable.

[2018-03-26 19:57] indpurvesh commented on #135
@miyurusagarage fixed.
Sorry i forget to commit the category model file.

[2018-03-26 19:57] #135 closed

[2018-04-05 07:38] krahamath opened #136 "Brand name changes"
I suggest you to make the your brand name like professional and easy to write and read by make them smaller case. Ex. Avored [not AvoRed] and See this: https://screenshots.firefox.com/5SoZUIdXRBw8GJFu/www.avored.com also this http://prntscr.com/j149p2

Hope you will like in the smaller case of RED

[2018-04-05 15:27] darron1217 commented on #79
@indpurvesh Does demo site account changed?

[2018-04-05 20:41] indpurvesh commented on #136
@krahamath It's a good idea.

[2018-04-05 21:14] indpurvesh commented on #79
@darron1217 Try now.

[2018-04-06 00:07] darron1217 commented on #79
@indpurvesh It works now :)
Thanks

[2018-04-08 22:37] #136 closed

[2018-04-09 05:29] krahamath commented on #136
Which is done?

[2018-04-13 04:32] indpurvesh commented on #68
Tax routes is only for Ajax and backend so it won’t work as a get request of php

[2018-04-13 04:34] indpurvesh commented on #122
I have added a new command called

    Php artisan avored:install

It should fix max execution 60 sec bug

[2018-04-16 19:38] flexander opened #137 "Admin routes"
I'm struggling to reach the admin routes. I was wondering if you could help diagnose the issue.
NotFoundHttpException in RouteCollection.php line 161:

If you know what the issue may be that would be great, if not then I'll keep trying

[2018-04-16 19:51] #137 closed

[2018-04-17 10:09] dimasip opened #138 "fresh installed, and got error when access product single page."
No hint path defined for [avored-related]. (View: E:\xampp\htdocs\laravel-ecommerce\themes\avored\default\views\product\view.blade.php)

[2018-04-17 10:10] dimasip commented on #138
E:\xampp\htdocs\laravel-ecommerce\vendor\laravel\framework\src\Illuminate\View\FileViewFinder.php
    }

    /**
     * Get the segments of a template with a named path.
     *
     * @param  string  $name
     * @return array
     *
     * @throws \InvalidArgumentException
     */
    protected function parseNamespaceSegments($name)
    {
        $segments = explode(static::HINT_PATH_DELIMITER, $

[2018-04-17 11:28] dimasip commented on #138
try to remove;
                @include("avored-related::related.product.list")
                @include("avored-review::product.review")

and finally works, now i try to figure out problem of both @include files.

[2018-04-17 11:30] dimasip commented on #138
update:
i try to change
@include("avored-related::related.product.list")
@include("avored-review::product.review")

to

@include("avored::related.product.list")
@include("avored::product.review")

and now works like a charm.

[2018-04-17 20:33] indpurvesh commented on #138
@dimasip Just add below line into composer.json and run 'composer update' it should fix the problem.

    "require": {
        "avored/framework": "dev-master",
        "avored/related" : "dev-master",
    }

then execute

    composer update

[2018-04-20 09:14] #138 closed

[2018-04-23 09:50] Axahox commented on #138
I got the same issue and updating composer didn't work so i removed :

It seems to refer to nothing and i actually didn't find any other file using "avored-review" or the targetted file, so I assumed it was an oversight.

[2018-04-25 07:59] sisir48 commented on #130
Hi Purvesh,

prasan2421 is right. The bug exists in the repo as well. There are basically 2 problems in the checkout page.

1. The "Free Shipping 0.00" displays in the checkout page even if it is disabled in the admin settings (i.e. even when set to 'No' in the Configuration (System > Configuration)
2. The "Place Order" gets disabled (gray out) in the checkout page if "Pickup From Store" radio but

[2018-04-25 22:04] indpurvesh commented on #130
@sisir48 & @prasan2421  You both are right.

Concept behind the checkout page javascript is once place order button is pressed. I raised the event (paymentProcessStart). So custom payment gateway can bind the JS event and get the Access token or do ajax request for shipping price calculation. Once that is finished then they raised an event for paymentProcessEnd. Once event has been raised then and

[2018-04-26 00:14] indpurvesh commented on #130
Thanks @sisir48 for the idea.

I had added an condition to check if payment option is not selected then it will submit the form and because no payment option(or shipping option) is not selected it will return back with validation error.

[2018-04-26 06:07] sisir48 commented on #130
Thanks Purvesh. Appreciated your response. Thanks buddy.

[2018-05-01 17:40] G00sfraba opened #139 "PDO Exception during install"
Illuminate\Database\QueryException  : SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'configuration_value' at row 1 (SQL: insert into `avored_configurations` (`configuration_key`, `configuration_value`, `updated_at`, `created_at`) values (general_site_description, AvoRed is a free open-source e-commerce application development platform written in PHP based on Laravel.

[2018-05-01 21:28] indpurvesh commented on #139
Thanks @G00sfraba

I have increase length for the table field to 999 so it should be ok. Thanks for raising the bug.

[2018-05-01 21:28] #139 closed

[2018-05-01 21:30] #122 closed

[2018-05-01 22:18] ItisAhsan opened #140 "Many bugs in new version"
-first after a fresh install it throws when opening the site it throws error undefined variable categories in nav.blade.php
-can't open the category it throws bad method exception

[2018-05-02 21:43] indpurvesh commented on #140
@ItisAhsan to me it seems like you using a version 2.0 and rest other modules with latest dev-master because current nav.blade.php file doesn't contain any $categories variable.

do you want to reinstall it with below command. (make sure you use --stability=dev)

    composer create-project avored/laravel-ecommerce --stability=dev

[2018-05-07 18:17] flexander opened #143 "Framework issues"
I have noticed that the framework in the vendor directory doesn't match the avored/framework repo. There is an issue with the Configuration model whereby it is extending a BaseModel that doesn't exist. Looks like the code was copied from a module.

[2018-05-07 18:34] flexander opened #144 "Configuration non-static methods"
non-static methods are being called statically in /modules/avored/ecommerce/src/Payment/Stripe/Payment.php

[2018-05-07 22:39] indpurvesh commented on #144
Fixed.

thanks @flexander

[2018-05-07 22:39] #144 closed

[2018-05-07 22:45] #140 closed

[2018-05-12 10:04] mahdi7abash opened #146 "Add new payment method"
Hi
First i want to thank your for this good ecommerce website you made ,but i can't place order to finish what i added to cart the and where to add shipment cost ??
Thanks

[2018-05-12 12:11] ielyanov opened #147 "Error on product page."
Hello.
Error on product page
Call to undefined method AvoRed\Related\DataGrid\RelatedProduct::query() (View: C:\OSPanel\domains\ecommerce\themes\avored\default\views\product\view.blade.php)

[2018-05-12 21:40] indpurvesh commented on #147
@ielyanov thanks for submitting a bug. It's been fixed. thanks

In your base directory just simply run `composer update`

Yes http://stite.com/install is remove from the package because now as database is growing big. So many people having a bug for `max execution time:  30 sec in PHP`
In future i might split the PHP process into small piece in future. So in the mean time i have to come up with `p

[2018-05-12 21:40] #147 closed

[2018-05-13 01:13] indpurvesh commented on #146
If you enabled at least one payment and one shipping method in backend then you should be able to place an order.

i just added an another `fixed-rate` module for fixed rate shipping cost. you can simply installed it via

    composer require avored/fixed-rate

Thanks @mahdi7abash

[2018-05-13 01:13] #146 closed

[2018-05-13 07:33] mahdi7abash commented on #146
@indpurvesh  Thanks shipping options added successfully , but payment options pick from store Says the option field is required ..  and I don't need to add payment stripe where to add payment pick up such as cash on delivery
Appreciate your support

[2018-05-13 07:38] indpurvesh commented on #146
I haven’t done cash on delivery module but soon I will make one too

[2018-05-13 07:45] mahdi7abash commented on #146
@indpurvesh  Ok thanks but if there any other method or how to create it since stripe not abled in my country lebanon

[2018-05-14 00:30] indpurvesh commented on #146
[AvoRed Cash on Delivery ](https://github.com/avored/cash-on-delivery)

Let me know now you can do checkout or not?

[2018-05-14 04:54] mahdi7abash commented on #146
Not yet

[2018-05-14 05:07] indpurvesh commented on #146
Add below line to your `composer.json` file

    "avored/cash-on-delivery" : "dev-master"

then do `composer update`.

Go to Admin=>system=>configuration

enabled Yes for Cash On Delivery then you can see an cash on delivery option in front end.

[2018-05-14 05:45] mahdi7abash commented on #146
Cash on delivery added successfully
Now i can do place order ,
But on admin under orders when i try to change status  from pending to succes or delivered and same issue when try to send email invoice swift_TransportExpception ( process could not be started the system cannot find the path )
 Thanks you very much for your great support i really appreciate your help
And also let me ask you more quest

[2018-05-14 05:49] indpurvesh commented on #146
The error you are received is because you never setup your Email SMTP setting.

follow this laravel docs regarding how to setup mail in laravel

https://laravel.com/docs/5.6/mail

Yes you can follow the same structure to add another payment gateway

[2018-05-16 12:29] mahdi7abash commented on #18
@indpurvesh
I can help  you with arabic translation

[2018-05-19 23:42] cchoe1 opened #148 "Why does the $products array contain a huge random story in the description key?"
There is a giant story within the $products array within the CategoryViewController.php file. I'm wondering what that is about

" I have ordered'; and she said aloud. 'I shall sit here,' the Footman continued in the middle, nursing a baby; the cook had disappeared. 'Never mind!' said the Duchess; 'I never said I could show you our cat Dinah: I think you'd better finish the story for yourself.' 'No

[2018-05-19 23:47] indpurvesh commented on #148
@cchoe1 reason being that is for the Product Filter Feature of the AvoRed E commerce.

For Example :

Product Attributes has an options of: Size, Color and etc
In that case Customer can filter the product based on Color and size on Category Page.

I hope it make sense

[2018-05-19 23:51] cchoe1 commented on #148
I'm not sure if that made any more sense to me

[2018-05-19 23:52] indpurvesh commented on #148
<img width="1188" alt="screen shot 2018-05-20 at 11 52 07 am" src="https://user-images.githubusercontent.com/4218702/40274170-4537e9ca-5c24-11e8-9159-3afd04c1b7c0.png">

[2018-05-19 23:55] indpurvesh commented on #148
Seems like i didn't get it what you mean by `giant story within the $products array `?

[2018-05-19 23:56] cchoe1 commented on #148
I used `print_r($products)` in CategoryViewController.php with a default installation.  I wanted to see what the variable was passing to the view so I did that and that huge story came up.

[2018-05-19 23:59] indpurvesh commented on #148
Yes i get it. Rather then typing the Actual Product Description i am using an Faker to generate a giant description for Product Description. If you want you can change it in admin.

[2018-05-20 00:02] cchoe1 commented on #148
Ahh okay that makes sense.  Thanks

[2018-05-20 00:02] #148 closed

[2018-05-21 06:39] #68 closed

[2018-05-28 03:23] cchoe1 opened #151 "Retrieving current theme within module view"
Is there an easy way to resolve the current theme so that we can load the proper layouts?  I want to create a module that will pull the admin menu wireframe and then just inject content into the 'content' section.

From a quick glance, it seems the layouts are just duplicated within a module and then pulled from that copy.  So that means if we start loading a lot of modules, anytime we want to cha

[2018-05-28 03:40] indpurvesh commented on #151
@cchoe1 If you want to create a new theme its very simple.

create a folder structure like below:

    - themes
      -  vendor_name
         - theme_name
           = assets
           = lang
           = views
        - register.yaml (file)

register.yaml file content

    identifier: vendor-theme
    name: YOUR THEME NAME
    asset_folder_name: assets
    lang_folder_name: lang

One you have a

[2018-05-28 03:43] cchoe1 commented on #151
Sorry I didn't mean for creating themes.  I'm simply wanting to 'inherit' from the current theme.  I'm trying to create a module and I've already got it all connected together.  But when I go to the actual view, it doesn't have the admin navigation, the headers, or any of the HTML.  I am wondering if there is an easy way to 'namespace' the request for a view.

In other words, I'd like an easy way

[2018-05-28 03:55] indpurvesh commented on #151
How to add AdminMenu:

Open your `Module.php` file open a `boot` method.

Let say you want to add a Submenu under CMS

    use AvoRed\Framework\AdminMenu\Facade as AdminMenuFacade;
    use AvoRed\Framework\AdminMenu\AdminMenu;
    $cmsMenu = AdminMenuFacade::get('cms');

        $myModuleMenu = new AdminMenu();
        $myModuleMenu->key('identifier')
            ->label('Menu Title')

[2018-05-28 04:00] cchoe1 commented on #151
Ah okay thanks, I was trying to hint the path but I think my cache was messing up and not showing the changes.  Thanks for verifying that though, it's working now.  Thanks!

[2018-05-28 04:02] cchoe1 commented on #151
In regards to the route path hint, what if someone wants to replace the admin theme with their own but still wants to use a module?  They'd have to change the namespace of their route for all the views of a module.  Or am I mistaken?

[2018-05-28 04:05] indpurvesh commented on #151
I don't think i would allow to change the admin theme even in future.

[2018-05-28 04:06] indpurvesh commented on #151
Yes you right if someone wants to change the admin theme completely they have to change the all the namespace into all the view files.

[2018-05-28 04:08] cchoe1 commented on #151
Oh okay sure that makes sense.  Thanks for all your time!

[2018-05-28 04:08] #151 closed

[2018-05-28 04:12] indpurvesh commented on #151
@cchoe1 You welcome.

Yes . i do agree with that fact that right now Admin Theme is not the one of the best one but i think it will go better eventually. you know once themes gets nicer.

[2018-05-28 04:15] cchoe1 commented on #151
Oh I wasn't trying to imply that, I was just trying to plan for the future for my module.  I'm starting off with something small like an API integration for ShipEngine just so I can get a feel for Laravel package development/module development with this particular framework.

[2018-05-28 04:42] indpurvesh commented on #151
@cchoe1 No  Don't be sorry its not you its me who think that my admin design is not great. Honestly i want to change the design but i think feature and code quality is more important then design so i will change the design but not my priority. Thanks for understanding.

[2018-06-01 03:56] aryby opened #152 "error savin product HELP plz"
Error in Saving Product: Undefined variable: images

in ......\src\Http\Controllers\ProductController.php

    public function update(ProductRequest $request, ProductModel $product)
    {

        try {
            //$product = ProductModel::findorfail($id);
            $product->saveProduct($request->all());
        } catch (\Exception $e) {
            throw new \Exception('Error in Saving Produ

[2018-06-01 04:57] indpurvesh commented on #152
I have find the bug and have fixed it on my repository. I can't commit the code because i am in the middle of something and silly me haven't created another branch for my dev so if you replace the code by urself it should work for you.

Fix: open a file in `vendor/avored/framework/src/Models/Database/Product.php` find a method called `saveProductImages` it should be around line number 133.

Replac

[2018-06-01 11:02] aryby commented on #152
fixed,
thank you so much

[2018-06-01 11:02] #152 closed

[2018-06-03 17:54] aryby opened #153 "probleme in saving payement"
when I save a payment in the admin config
http://localhost:8000/admin/configuration

{
"_token":"5pYFQAIASXFEHazJEBzeGmGrCMinSneDp0xxxxxx",
"default_site_title":null,"general_site_description":"AvoRed is a free open-source e-commerce application development platform written in PHP based on Laravel. Its an ingenuous and modular e-commerce that is easily customizable according to your needs, with a

[2018-06-03 23:40] indpurvesh commented on #153
Bug has been fixed on Master branch. If you want you just replace the code in `modules/avored/ecommerce/src/Http/Controllers/ConfigurationController@store` where store is a method. Replace the code with below:

     /**
     * Show the application dashboard.
     *
     * @return \Illuminate\Http\Response
     */
    public function store(Request $request)
    {
    foreach ($request->except(['_to

[2018-06-04 03:49] aryby commented on #153
replace this line $configModel->configuration_value == $value) to $configModel !== null
this $configModel->configuration_value  return a objet

    public function store(Request $request)
    {
    foreach ($request->except(['_token', '_method']) as $key => $value) {
            $configModel = Model::whereConfigurationKey($key)->first();

            if ($configModel !== null) {
                co

[2018-06-04 03:57] indpurvesh commented on #153
You are partially right code needs to be:

    public function store(Request $request)
    {
    foreach ($request->except(['_token', '_method']) as $key => $value) {
        $configModel = Model::whereConfigurationKey($key)->first();

        if ($configModel !== null && $configModel->confuguration_value == $value) {
            continue;
        }

        if (null === $configModel) {

[2018-06-04 03:59] aryby commented on #153
thank you so much for your help

in admin dashboard when i save a Shipping or an other things
it dosn't save

and also payement value of "Payment Stripe Enabled"

[2018-06-04 04:01] indpurvesh commented on #153
If you check the dev branch then i am implementing repository pattern all over the project. just to concentrate all DB transaction should happen from that Class. I know above code is not idea but just in the mean time i am doing this bug fixes on master branch only.

With new code i hope it should save the shipping and payment option config values. If it doesn't work let me know.

[2018-06-04 04:08] aryby commented on #153
yes if fixed by your lase code

just a small probleme with last version of php

app\Http\Controllers\OrderController.php
in private function _syncOrderProductData($order, $orderProducts)

if (count($orderProduct->attributes()) >= 0) {//"count(): Parameter must be an array or an object that implements Countable"

[2018-06-04 04:11] indpurvesh commented on #153
seems like a php 7 bug. Don't worry i will fix it soon. Thanks again for showing me all those bugs and helps to improve the code base.

[2018-06-04 04:19] aryby commented on #153
i replace this line
    private function _syncOrderProductData($order, $orderProducts)
    {
        $orderProductTableData = [];
        foreach ($orderProducts as $orderProduct) {
            if (count($orderProduct->attributes()) >= 0) {
___________________________________________________________________________________
by this
private function _syncOrderProductData($order, $orderProducts)

[2018-06-04 04:29] indpurvesh commented on #153
Reason why you haven't got an email notification is because i would guess you haven't setup smtp setting in your .env files.

    MAIL_DRIVER=smtp
    MAIL_HOST=smtp.mailtrap.io(or any other provider)
    MAIL_PORT=2525
    MAIL_USERNAME=MAILTRAP_USER_NAME
    MAIL_PASSWORD=MAILTRAP_PASSWORD

If you need more information on SMTP Setup please follow Laravel Docs

[LARAVEL SMTP](https://laravel.com/

[2018-06-04 22:32] #153 closed

[2018-06-04 22:33] aryby opened #154 "menu chiled"
when a create sub menu in admin panel
in navbar not work

[2018-06-05 03:28] aryby commented on #154
error
"Class App\Http\ViewComposers\MenuInterface does not exist (View: C:...\themes\avored\default\views\home\index.blade.php)"

[2018-06-05 03:29] aryby commented on #154
public function __construct(MenuInterface $repository)
        {
            $this->repository = $repository;
        }

[2018-06-05 03:35] indpurvesh commented on #154
If you don't have the  repository yet in that case:

    use AvoRed\Ecommerce\Models\Database\Menu;

    public function compose(View $view)
    {
        $cart = (null === Session::get('cart')) ? 0 : count(Session::get('cart'));

        $menus = Menu::whereParentId(null)->orWhere('parent_id','=',0)->get();
        $metaTitle = Configuration::getConfiguration('general_site_title');
        $metaD

[2018-06-05 15:45] aryby commented on #154
partially fixed by public function compose(View $view)...

in version 2.3
same error
"Class App\Http\ViewComposers\MenuInterface does not exist (View: C:...\themes\avored\default\views\home\index.blade.php)"

[2018-06-05 21:06] indpurvesh commented on #154
@aryby Yes you right on that particular commit i miss the file to commit.

open a file: `modules/avored/ecommerce/src/Provider.php` and put the below code:

    use AvoRed\Ecommerce\Models\Contracts\MenuInterface;
    use AvoRed\Ecommerce\Models\Repository\MenuRepository;

    /**
     * Register the Repository Instance.
     *
     * @return void
     */
    protected function registerModelContra

[2018-06-06 01:11] aryby commented on #154
probleme
"Class AvoRed\Ecommerce\Models\Contracts\MenuInterface does not exist (View: C:\wamp64\www\laravel-ecommerce-2.3\themes\avored\default\views\home\index.blade.php)

[2018-06-06 01:14] aryby commented on #154
do you have a code of class MenuInterface

[2018-06-06 03:29] aryby commented on #154
in C:\...\modules\avored\ecommerce\src\Http\Controllers\DashboardController.php
public function index()
    {..
       $totalOrder = $this->repository->all()->count();

Call to undefined method AvoRed\Framework\Models\Repository\OrderRepository::all()

[2018-06-06 06:05] indpurvesh commented on #154
to me seems like for some reason your code base is completely different then mine. with below url you will see all the code base fro this project:
https://github.com/avored

Order Repository code is inside a framework repository. below url

https://github.com/avored/framework

[2018-06-08 13:09] aryby commented on #154
the error is fixed in last version
by avored/frameowrk 1.5.1
thank you

[2018-06-08 13:09] #154 closed

[2018-06-08 14:28] aryby commented on #152
same probleme in last version
the solution of change the function saveProductImages in vendor/avored/framework/src/Models/Database/Product.php
isn't work's right now

[2018-06-08 15:02] aryby commented on #152
fixed i m edit this line in (vendor\avored\framework\src\Image\Localfile.php)
$this->$objectVarName = asset('storage/' . $sizeNamePath);
to $this->$objectVarName = asset( $sizeNamePath);
    /**
     * Pass Relative path for the file.
     *
     * @param null|string $relativePath
     */
    public function __construct($relativePath = null)
    {
        $this->relativePath = $relativePath;

[2018-06-08 21:08] indpurvesh commented on #152
Reason being with those change is: Now i decided to store my Image and other media files into storage folder rather then public folder.

To make it work in your case instead of changing the code i would do:

    php artisan storage:link

This command create a symbolic link to your public/storage => storage/app/public which is where new images/media files gets stored. I hope it make sense.

[2018-06-08 21:19] indpurvesh commented on #152
I need to check that extra "/".

Why your images gets saved into public folder is because you have done installation using an old version. I think i have changed the publish folder into new version already.

https://github.com/avored/dummy-data/blob/master/src/Module.php

checkout the `published` method

[2018-06-08 21:34] aryby commented on #152
Yes that's it
i have
public function publishFiles() {
        $this->publishes([__DIR__.'/../assets' => public_path()], 'public');
    }

NB : but i have a last vesion

[2018-06-08 21:42] aryby commented on #152
src="http://localhost:8000/storage//uploads/catalog/images/6/6/q/small-discount-1015446_1920.jpg"

i think in localfile.php

in public function __construct($relativePath = null)
    {
//
$this->$objectVarName = asset('storage/' . $sizeNamePath);

must be
$this->$objectVarName = asset('storage' . $sizeNamePath);

[2018-06-08 21:49] aryby opened #156 "the picture removal button does not work"
![capture](https://user-images.githubusercontent.com/37639238/41182534-a1c87aec-6b65-11e8-9218-9bb6d4b19236.PNG)

the removal button does not work

[2018-06-08 21:54] indpurvesh commented on #152
I seen it but the bug is in path that gets stored in DB:

     $sizeNamePath "/PATH/FILENAME.jpg"; // which is wrong

It should be :

      $sizeNamePath "PATH/FILENAME.jpg";

[2018-06-09 14:32] aryby opened #157 "Error in Order (Dashboard admin)"
whene i change status (http://localhost:8000/admin/order/2/change-status) and clik save
-->Undefined variable: id
 IN ...\laravel-ecommerce-master\modules\avored\ecommerce\src\Http\Controllers\OrderController.php
-->
  /**
     * Change the Order Status
     * @param \AvoRed\Ecommerce\Models\Database\Order $order
     *
     * @return \Illuminate\Http\RedirectResponse
     */
    public function u

[2018-06-10 05:50] indpurvesh commented on #157
Fixed: Just remove or Uncomment a line `//$order = Model::find($id);`

I have fixed the issue on dev branch but replace the `modules/avored/ecommerce/src/Http/Controllers/OrderController@updateStatus` method with below :

    /**
     * Change the Order Status
     * @param \AvoRed\Ecommerce\Models\Database\Order $order
     *
     * @return \Illuminate\Http\RedirectResponse
     */
    public fun

[2018-06-10 05:53] indpurvesh commented on #156
Try this code into your repository:

`modules/avored/ecommerce/src/Http/Controllers/ProductController@deleteImage`:

    /**
     * upload image file and resized it.
     *
     * @param \Illuminate\Http\Request $request
     *
     * @return \Illuminate\Http\JsonResponse
     */
    public function deleteImage(Request $request)
    {
        $path = $request->get('path');

        $path = 'upload

[2018-06-10 22:53] aryby commented on #157
when i do that
and change status of order

C:\Users\EL ARYBY\Desktop\pro\vendor\swiftmailer\swiftmailer\lib\classes\Swift\Transport\StreamBuffer.php
        $this->in = &$this->stream;
        $this->out = &$this->stream;
    }

    /**
     * Opens a process for input/output.
     */
    private function establishProcessConnection()
    {
        $command = $this->params['command'];
        $desc

[2018-06-10 22:59] indpurvesh commented on #157
It the same reason you are not receiving an Email while place an order and create an account.

 As a development process you can create an account on Mailtrap its free and good for dev purpose.

https://mailtrap.io/

How to setup in Laravel

https://laracasts.com/discuss/channels/general-discussion/mailtrap-laravel

[2018-06-10 23:06] aryby commented on #157
that's it
thank u

[2018-06-10 23:06] #157 closed

[2018-06-11 00:11] aryby commented on #156
it's work thank u

[2018-06-11 00:11] #156 closed

[2018-06-11 07:30] mahdi7abash opened #159 "Illegal offset type in isset or empty"
**Trying to log into admin side  below error appear**
ErrorException (E_WARNING)
Illegal offset type in isset or empty

**Screenshots**
If applicable, add screenshots to help explain your problem.
![illegal offset](https://user-images.githubusercontent.com/14835811/41217985-483e3526-6d62-11e8-994d-76394a0c2d56.png)

**Desktop /information:**
 - OS: [Windows 10]
 - Browser [chrome]
 - Version [66.0

[2018-06-11 22:29] aryby opened #160 "error php artisan route:list"
$ php artisan route:list

   Illuminate\Contracts\Container\BindingResolutionException  : Target [AvoRed\Ecommerce\Models\Contracts\PageInterface] is not instantiable while building [AvoRed\Ecommerce\Http\Controllers\P
ageController].

  at C:\Users\EL ARYBY\Desktop\pro\vendor\laravel\framework\src\Illuminate\Container\Container.php: 933
  929:         } else {
  930:             $message = "Targe

[2018-06-12 00:55] indpurvesh commented on #160
If you just do a `composer update` i hope it should fixed the bug for you.

[2018-06-12 00:55] indpurvesh commented on #160
After `composer update` it should fixed your admin product edit page vuejs bug too

[2018-06-12 00:58] indpurvesh commented on #159
Sorry i did a fresh install of AvoRed in separate folder of mine. For some reason i can't replicate your bug. On my copy.
Is there anything more you can give me. Seems like you seeing the bug of some kind of auth guard related based on the screenshot. (Possibly when you click on a Login button of Admin?)?

[2018-06-12 01:40] mahdi7abash commented on #159
@indpurvesh please can you give me the steps to do correct installation since the documentation page in your website not showing any thing ..
and after fresh installation i will give you my feedback
thanks

[2018-06-12 02:12] indpurvesh commented on #159
Below is the step i have done it on my Computer

Go to Directory you like to install AvoRed E commerce:

Execute a composer commanad:
    composer create-project avored/laravel-ecommerce FOLDER_NAME

then execute Installation command:

    cd FOLDER_NAME
    php artisan avored:install

then execute AvoRed Admin Make (New Command):

     php artisan avored:admin:make

I hope it helps

[2018-06-12 03:10] aryby commented on #160
for bug vuejs not work this update
just i fix bay this
npm install
npm run avored:admin

[2018-06-12 03:18] aryby commented on #160
and also http://localhost:8000/admin/page not fixed

C:\Users\EL ARYBY\Desktop\pro\vendor\laravel\framework\src\Illuminate\Container\Container.php

    /**
     * Throw an exception that the concrete is not instantiable.
     *
     * @param  string  $concrete
     * @return void
     *
     * @throws \Illuminate\Contracts\Container\BindingResolutionException
     */
    protected function notInst

[2018-06-12 03:35] aryby commented on #160
yes it's fixed

[2018-06-12 03:35] #160 closed

[2018-06-12 03:40] aryby opened #162 "savin product (v 2.3.2)"
![bug](https://user-images.githubusercontent.com/37639238/41268955-27ad5324-6df2-11e8-9207-e5c8aabd225b.PNG)

no error msg

just when  i click save  it refresh page

[2018-06-12 20:33] indpurvesh commented on #159
just open a RoleRepository file which you can find at: `modules/avored/ecommerce/src/Models/Repository/RoleRepository.php` and add a below code on top of your file:

    use AvoRed\Ecommerce\Models\Database\Role;

[2018-06-15 00:08] #162 closed

[2018-06-15 00:13] aryby opened #164 "error"
in page for example : http://localhost:8000/category/pc

when I click on a product (image) to have more details

when I click on a product (image) to have more details

it gives me an error ->
\avored\vendor\laravel\framework\src\Illuminate\Container\Container.php

Target [AvoRed\Framework\Models\Contracts\ProductDownloadableUrlInterface] is not instantiable while building [App\Http\Controllers\Pr

[2018-06-15 00:30] indpurvesh commented on #164
When you did download this code? i just commit this code today?

try doing:

    composer update

I hope it fixed your problem.

[2018-06-15 00:48] aryby commented on #164
yes i work for the last commit

[2018-06-15 02:35] #164 closed

[2018-06-15 02:51] aryby opened #165 "Suggestion and bug in avord.com"
hello
Just a suggestion
if someone add to cart a product
in the CART menu you can add a badge( <span class="badge badge-light">) with the numbers of products

when i want to tak a message in contact Page in your site avored.com
he gives me an error
Swift_TransportException (530)
Expected response code 250 but got code "530", with message "530 5.7.1 Authentication required "
-------------------swif

[2018-06-15 03:01] indpurvesh commented on #165
just add below code into nav-tree.blade.php

`themes/avored/default/views/layouts/menu-tree.blade.php`

    @if($menu->route == "cart.view")
            <a class="nav-link" href="{{ $url }}">
                {{ $menu->name }} <span class="badge badge-primary">{{ Cart::count() }}</span>
            </a>
    @else

            <a class="nav-link" href="{{ $url }}">
                {{ $menu->name }}

[2018-06-16 00:39] KALEFA opened #166 "Image paths not working after 2.4 first deploy"
After deploying AvoRed 2.4 the images are not showed.

After downloading and doing all the steps to install >> composer update / avored:install /generate admin/ npm run dev/ admin etcetc , all works fine as first impression but the images are not visible. The files in the paltform are loaded and pointed to "/uploads/catalog/images"  but needs to point to "storage/uploads/catalog/images".

If i cha

[2018-06-16 02:57] KALEFA commented on #166
Hello indpurvesh!

Thanks fir the fast reading :)

Yes I tried ` php artisan storage:link`   >> The "public/storage" directory already exists.

I can see seven days before had been talking about the module dummydata | saveProductImages  |  vendor\avored\framework\src\Image\Localfile.php) | $this->$objectVarName = asset('storage/' . $sizeNamePath); |

May be had changed something?

only need to add

[2018-06-16 03:09] KALEFA commented on #166
Mmmm.. may be this help,

this is the vendor\avored\framework\src\Image\Localfile.php

[code]

and the config/filesystems.php

[code]

    'disks' => [

        'local' => [
            'driver' => 'local',
            'root' => storage_path('app'),
        ],

        'public' => [
            'driver' => 'local',
            'root' => storage_path('public/storage'),
            'visibility' => '

[2018-06-16 03:21] KALEFA commented on #166
The difference was in LocalFile.php : 41

changed this line ;
`            $this->$objectVarName = asset($sizeNamePath);`
into this
`            $this->$objectVarName = asset('storage/' . $sizeNamePath);`

[2018-06-16 22:51] aryby commented on #165
i just doin this in
loop foreach
@if($menu->route == "cart.view")
                    <a class="nav-link" href="{{ $url }}">
                        <span class="badge badge-primary">{{ Cart::count() }}</span>
                    </a>
                @endif

NB : i have a Cart in last item in NavBar

[2018-06-16 22:51] #165 closed

[2018-06-21 21:43] #166 closed

[2018-06-21 21:43] #159 closed

[2018-06-21 22:20] aryby opened #168 "Error Banner image in admin Dashboard"
hello
Now I am working on version 2.5
when I make a new banner in admin Dashboard
the image can not be displayed properly
when I do inspect I find : http://localhost:8000/uploads/cms/images/b/r/0/1.jpg

and in the folder the image is save as : j893xGICaC6lb0YmMLUnssY33Mx9GiZeFEB2IcvT.jpeg

NB : error existe in producte image also
i m  doing  the storage:link

[2018-06-22 01:02] indpurvesh commented on #168
Image Path bug has been fixed in Banner Module with Repository Pattern and route model binding too.

How to fixed change the Banner version to 1.7 inside a `composer.json`

    "avored/banner": "~1.7",

Run the Command:

    composer update

[2018-06-22 01:02] #168 closed

[2018-06-25 15:29] paolog22 opened #169 "What frontend framework i can use with this?"
Is vuejs supported ?

[2018-06-25 15:37] pastushenkofx opened #170 "Error after installation"
after installation in main pèage error:

Symfony \ Component \ Debug \ Exception \ FatalErrorException (E_UNKNOWN)
Declaration of AvoRed\Framework\Models\Repository\ConfigurationRepository::create($data) must be compatible with AvoRed\Framework\Models\Contracts\ConfigurationInterface::create(array $data)
--------------------------------------------------
<?php

namespace AvoRed\Framework\Models\Re

[2018-06-25 20:44] indpurvesh commented on #169
you can use any frontend framework if you want to,

 - One very simple way is to add it into your `layouts/app` file
 - You can add it into a packagist.json file too and then add it into `themes/avored/default/assets` as mention into Laravel Docs

[2018-06-25 20:44] #169 closed

[2018-06-26 07:21] GaneshKandu commented on #170
Hi

Getting same error

Symfony\Component\Debug\Exception\FatalErrorException thrown with message "Declaration of AvoRed\Framework\Models\Repository\ConfigurationRepository::create($data) must be compatible with AvoRed\Framework\Models\Contracts\ConfigurationInterface::create(array $data)"

laravel.log -> [Uploading laravel.log…]()

system environment

PHP: 7.1.18
MySQL: 5.5.53

[2018-06-26 07:21] GaneshKandu commented on #170
[laravel.log](https://github.com/avored/laravel-ecommerce/files/2135968/laravel.log)

[2018-06-26 07:33] indpurvesh commented on #170
does it happen after installation is finished and you visit a home page? or during an installation process?

[2018-06-26 07:38] GaneshKandu commented on #170
yes

[2018-06-26 07:39] GaneshKandu commented on #170
after installation is finished and visit a home page

[2018-06-26 08:37] indpurvesh commented on #170
Thanks I will debug and fix it soon thanks for the bug

[2018-06-26 09:22] pastushenkofx commented on #170
and not only home

[2018-06-26 13:12] pastushenkofx commented on #170
And now where should I look?

[2018-06-26 21:54] indpurvesh commented on #170
I have tried a fresh installation on my computer but still, I can't replicate the bug. But still, I had a commit which I hope to fixed the bug.
Do @pastushenkofx  or @GaneshKandu want to do a `composer update` i hope it helps you to fix the bug

    composer update

[2018-06-27 04:02] GaneshKandu commented on #170
@pastushenkofx  sorry! but still getting error

[laravel.log](https://github.com/avored/laravel-ecommerce/files/2139723/laravel.log)

[2018-06-27 04:04] GaneshKandu commented on #170
@indpurvesh  sorry! but still getting error
[laravel.log](https://github.com/avored/laravel-ecommerce/files/2139723/laravel.log)

@pastushenkofx  is your issue get fixed by ```composer update``` ?

[2018-06-27 04:30] indpurvesh commented on #170
I am not sure for 100% certain because I never able to replicate the bug even on my fresh install.

So you want to open a file ‘vendor/avored/framework/src/Models/Contracts/ConfigurationContract.php@create’ remove array in front of $data so replace the code like

    Public function create($data);

Let me know if it fixed the bug or not?

[2018-06-27 04:37] GaneshKandu commented on #170
@indpurvesh its all ready same
[code]

[2018-06-27 05:06] indpurvesh commented on #170
do you want to put both file code here?
 - `vendor/avored/framework/src/Models/Contracts/ConfigurationInterface.php`
 - `vendor/avored/framework/src/Models/Repository/ConfigurationRepository.php`

[2018-06-27 05:11] GaneshKandu commented on #170
[ConfigurationInterface.php.txt](https://github.com/avored/laravel-ecommerce/files/2139832/ConfigurationInterface.php.txt)
[ConfigurationRepository.php.txt](https://github.com/avored/laravel-ecommerce/files/2139833/ConfigurationRepository.php.txt)

[2018-06-27 05:11] indpurvesh commented on #170
@GaneshKandu Do you want to do a fresh installation? it might fix the bug.

    composer create-project --prefer-dist avored/laravel-ecommerce folder_name

Update yours.env file

    cd folder_name
    php artisan avored:install
    php artisan avored:admin:make

[2018-06-27 05:29] GaneshKandu commented on #170
after ```composer create-project --prefer-dist avored/laravel-ecommerce folder_name```
getting this on ```php artisan avored:install``` command
![untitled](https://user-images.githubusercontent.com/12833130/41954456-e686e0ec-79ca-11e8-9f49-c92437c99c19.png)
[php artisan avored%3Ainstall.txt](https://github.com/avored/laravel-ecommerce/files/2139869/php.artisan.avored.3Ainstall.txt)

[2018-06-27 05:33] indpurvesh commented on #170
I dont know why but your composer is trying to installed avored/ecommerce:1.8 version instead of avored/ecommerce:1.8.1

try:
     composer clearcache

then execute create-project command

[2018-06-27 05:59] GaneshKandu commented on #170
@indpurvesh  Done Dhanyawad
but i am installing in sub-directory of webroot
getting 404 error for fonts in subdirectory install

[2018-06-27 06:02] indpurvesh commented on #170
to fixed that issue you have to create a virtual-host file if you using an apache.

One very simple solution is use in build php server

    cd folder_you_have_installed_avored
    php artisan serve

[2018-06-27 06:09] GaneshKandu commented on #170
The web server artisan uses is the PHP built-in web server, which is not for use in any scenario other than development as showcased by this excerpt from the Built-in web server documentation:

In production you should be using a fully featured web server such as nginx, Apache, lighttpd, etc.

[https://stackoverflow.com/questions/34978857/laravel-how-to-start-server-in-production](https://stackove

[2018-06-27 06:12] indpurvesh commented on #170
Yes, you right.
are you trying to host a website using your own laptop/computer? If you just developing a site only then its a simple and perfectly ok to use PHP in the build server

[2018-06-27 06:17] GaneshKandu commented on #170
i want it for my production server

[2018-06-27 08:41] pastushenkofx commented on #170
Ok, perfect, now everything works except categories and /admin/category

LOG:
[2018-06-27 08:37:00] laravel.EMERGENCY: Unable to create configured logger. Using emergency logger. {"exception":"[object] (InvalidArgumentException(code: 0): Log [] is not defined. at /var/www/rshop/vendor/laravel/framework/src/Illuminate/Log/LogManager.php:181)
[stacktrace]
#0 /var/www/rshop/vendor/laravel/framework/s

[2018-06-28 14:41] pastushenkofx opened #172 "Table 'shopm.avored_order_histories' doesn't exist"
ubuntu@ip-172-31-42-201:/var/www/rshop$ php artisan avored:install -v

 Do you want to Install Dummy Data? (y/n) [yes]:

Application key [base64:d53cXLve/r4Y2gwTdrQ1aOZcVdUJOP3gDvRMwIRK0MY=] set successfully.
Migration table created successfully.

   Illuminate\Database\QueryException  : SQLSTATE[42S02]: Base table or view not found: 1146 Table 'shopm.avored_order_histories' doesn't exist (SQL: al

[2018-06-28 21:03] indpurvesh commented on #172
Simply just do composer update it should fixed your problem.

    composer update

[2018-06-28 21:03] #172 closed

[2018-06-29 00:53] martinbukowski commented on #170
I had this issue.  This issue is due to an interface mismatch.  The interface class (ProductDownloadableUrlInterface) does not type $data as an array, while the implementation (ProductDownloadableUrlRepository) types $data as an array for the create function.

[2018-06-29 01:00] indpurvesh commented on #170
@martinbukowski I know that I had fixed it.
But for some reason, I was not getting the bug in my copy.

[2018-06-29 09:44] aryby commented on #172
i  do composer update
php artisan migrate

   Illuminate\Database\QueryException  : SQLSTATE[42S01]: Base table or view already exists: 1050 La table 'avored_categories' existe déjà (SQL: create table `avored_categories` (`id` int unsi
gned not null auto_increment primary key, `parent_id` int null, `name` varchar(255) not null, `slug` varchar(255) not null, `meta_title` varchar(255) null, `meta_de

[2018-06-29 10:43] GaneshKandu commented on #170
@indpurvesh just tried a install fresh installation of latest avored
Got this error
[php artisan avored%3Ainstall.txt](https://github.com/avored/laravel-ecommerce/files/2148994/php.artisan.avored.3Ainstall.txt)
[code]

[2018-06-29 17:17] nteej commented on #11
Hai,All Members,

Me too interested to help on this project.Also need to be a backer from next month end.How I can join?

[2018-06-29 17:31] nteej commented on #43
@indpurvesh  I can involve to this task.If you have architecture I can follow it.Else I can do create architecture & response .

[2018-06-29 19:36] indpurvesh commented on #170
@nteej I have fixed that one but nevermind thanks for the fix,

[2018-06-29 19:36] #170 closed

[2018-06-29 21:53] indpurvesh commented on #43
@nteej first of all thanks for it.

If you wanted to do an API: Yes architecture is done using an laravel/passport.

I have done basic Category API that i have implemnted it.
https://github.com/avored/ecommerce

In the Above Repository you can find an `routes/api.php` but i think middleware suppose to be `admin.api.auth` (I am not sure with it because i did that very long time ago) as its register

[2018-06-29 21:59] indpurvesh commented on #11
All the Contribution is always welcome. If you want to do some design improvements i have some ideas in my mind but its not priority for me at this stage:
 - Product Page add Zoom Image or lightbox for Product Images
 - Category Page: make all product card same height. so all row gets alignments.
- Cart and checkout Page I am using a table. I would like to replace it with Div may be?

[2018-06-29 22:05] indpurvesh commented on #172
@aryby  You can't use `php artisan migrate` because I am not supporting any kind of version upgrade at this stage because DB is changing so much as I am still working on many features.  I hope it makes sense. I would guess in your case you might be missing an `order_histories` table so I would suggest you can do it simply by adding Schema create a table into the controller for once then remove it.

[2018-06-30 01:50] indpurvesh commented on #124
Downloadable Product support has been added. Thanks

[2018-06-30 01:50] #124 closed

[2018-06-30 07:20] nteej commented on #11
Ok sure.1st of all I'll do develop these things .I can do implement one or 2 things today itself

[2018-06-30 07:28] nteej commented on #11
I can fix these issue due I'm fixing them all for my deployment.

[2018-06-30 07:30] indpurvesh commented on #11
You can use dev branch

[2018-06-30 07:31] nteej commented on #11
I'm currently on it.But I cant commit my changes due unauthorize.You need to add me as a collaborator.Then only I can commit my code.

[2018-06-30 07:38] nteej commented on #11
Thanks.Also do the same for framework repo.I've updated that too.

[2018-06-30 07:40] nteej commented on #11
Also you may be like to this type UI that I've aready used my my own laravel app.
![screenshot from 2018-06-30 13-05-07](https://user-images.githubusercontent.com/24771749/42122909-cce81c20-7c66-11e8-8b26-b4511192e9a1.png)

![screenshot from 2018-06-30 13-09-42](https://user-images.githubusercontent.com/24771749/42122915-ed4c9220-7c66-11e8-9c10-650ef40f7620.png)

[2018-06-30 07:41] nteej commented on #11
Also I'm happy to add Megamenu function if you willing to have.
![screenshot from 2018-06-30 13-11-10](https://user-images.githubusercontent.com/24771749/42122928-2159b408-7c67-11e8-89c4-089a2b85742e.png)

[2018-06-30 07:41] indpurvesh commented on #11
As a demo or default I would prefer a simple design  if you want you can put your theme as a custom theme

[2018-06-30 07:42] indpurvesh commented on #11
As you mentioned mega menu and others comes as a separate modules.

[2018-06-30 07:43] nteej commented on #11
ok sure.Lets follow that structure.its quite easy.

[2018-07-01 13:22] nteej opened #174 "Admin login page Login button is disabled despite of validation rules."
**Ideally we would expect you to raise a bug on AvoRed Official Website **
https://www.avored.com/discussion/category/general

**Describe the bug**
When trying to login to backend,Login button doesn't activate due JS error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
![screenshot from 2018-07-01 18-24-0

[2018-07-01 21:59] indpurvesh commented on #174
Bug itself has been fixed.

to fixed the bug follow the steps:

Open file : `modules/avored/ecommerce/resources/assets/components/forms/avored-form-input.vue`
change Line:

    onChange: function(){
    //New line
    onChange: function(**event**){

Open file : `modules/avored/ecommerce/resources/assets/components/forms/avored-form-select.vue`
change Line:

    onChange: function(){
    //New line

[2018-07-02 04:16] nteej commented on #174
@indpurvesh Thanks a lot.I'll get fix based on ur solution.I've created new theme with  megamenu & quick view & other stuffs.But still not finish functional part.I created it under theme avored/cartler.
Once Finish I'll commit the code.

[2018-07-02 06:00] nteej commented on #43
@indpurvesh thnanks.I'll check them all.

[2018-07-06 16:39] crijoemoi opened #175 "stripe error avored E commerce"
Bonjour,
je teste avored ecommerce et j'ai l'erreur suivante lors du paiement avec stripe
Cannot use object of type AvoRed\Framework\Cart\Product as array sur la ligne 83 du fichier
laravel-ecommerce/modules/avored/ecommerce/src/Payment/Stripe/Payment.php
83   $subTotal += $product['price'] * $product['qty'];

boucle
 foreach ($cartProducts as $product) {
            $subTotal += $product['price']

[2018-07-07 02:20] indpurvesh commented on #175
A bug has been fixed to check. You have to reinstall it again to get the latest release with updated code.

If you don't want to reinstall it again in that event try below download below file and replay it with the code:
https://github.com/avored/laravel-ecommerce/blob/master/themes/avored/default/views/checkout/index.blade.php
https://github.com/avored/laravel-ecommerce/blob/master/themes/avored/

[2018-07-07 11:15] crijoemoi commented on #175
Merci pour votre reponse,  j'ai bien mis à jour les 2 fichiers que vous m'avez mis en liens mais quand je fais un composer update il me sort  l'erreur suivante :+1:  Exception trace:

  1   Illuminate\Foundation\Bootstrap\HandleExceptions::handleError("Undefined index: name", "/var/www/laravel-ecommerce/vendor/avored/framework/src/Modules/Manager.php")
      /var/www/laravel-ecommerce/vendor/avore

[2018-07-07 22:19] indpurvesh commented on #175
@crijoemoi Sorry actually I was not yours but it was my mistake of committing the file that i was working on. (it was custom (developer) modules creation feature for avored )

I have put the solution on avored.com discussion website.

http://www.avored.com/discussion/strip-pament-error

[2018-07-09 15:32] crijoemoi commented on #175
Bonjour et un grand merci pour votre réponse . J'ai une nouvelle erreur au niveau de la table car aprés avoir soumis le formulaire de commande avec stripe, il m'affiche l'errreur suivante
"SQLSTATE[23000]: Integrity constraint violation: 1452 Cannot add or update a child row: a foreign key constraint fails (`laravelecommerce`.`avored_addresses`, CONSTRAINT `addresses_country_id_foreign` FOREIGN KE

[2018-07-09 15:51] crijoemoi commented on #175
Désolé de vous avoir soumis le commentaire 15 minutes plutôt car l'erreur venait je crois du validate car le formulaire est partie sans avoir été renseigné au niveau du pays ( liste déroulante), je suis bien arrivé à passer une commande avec stripe avec le bon retour. Encore merci. Je vais essayer d'ajouter paypal, mais je crois que çà ne va pas être du gâteau. Merci et bonne journée

[2018-07-09 15:51] #175 closed

[2018-07-09 20:48] indpurvesh commented on #175
@crijoemoi take a look at this discussion forum. If you follow this steps it helps you to add paypal payment gateway. Let me know if you get stuck at some place. I will double check the validation error and fixed it too. thanks again.

http://www.avored.com/discussion/trying-to-create-razorpay-pament-gatway

[2018-07-10 00:33] #174 closed

[2018-07-16 15:26] pastushenkofx opened #179 "bug in products (Admin area)"
Symfony \ Component \ Debug \ Exception \ FatalErrorException (E_UNKNOWN)
Declaration of AvoRed\Framework\Models\Repository\ProductDownloadableUrlRepository::create(array $data) must be compatible with AvoRed\Framework\Models\Contracts\ProductDownloadableUrlInterface::create($data)

[2018-07-16 15:39] pastushenkofx commented on #179
resolt...
in vendor/avored/framework/src/Models/Contracts/ProductDownloadableUrlInterface.php
non correct: public function create($data);
correct: public function create(array $data);

[2018-07-16 21:01] indpurvesh commented on #179
@pastushenkofx you are right.

Bug has been fixed in dev branch.

Thanks

[2018-07-16 21:01] #179 closed

[2018-07-21 21:41] aryby opened #181 "error total in Shopping Cart"
![chekoutavo](https://user-images.githubusercontent.com/37639238/43040245-dbe663cc-8d36-11e8-9dcd-c1947fed9f09.PNG)

Menu child in this version not work (fixed in [https://github.com/avored/laravel-ecommerce/issues/154](url) )

[2018-07-23 01:53] indpurvesh commented on #181
Fixed to Check:
Please update this two file.

 -  themes/avored/default/views/cart/view.blade.php
 - themes/avored/default/views/checkout/cards/shopping-cart.blade.php

[2018-07-23 16:35] aryby commented on #181
whene i update product in http://localhost:8000/cart/view
 card not updated
 and the error chek
![anerror](https://user-images.githubusercontent.com/37639238/43090134-73d7b060-8e9e-11e8-9e11-9cf21a6c019d.PNG)

i well have
![wellhave](https://user-images.githubusercontent.com/37639238/43090245-c0fd6b6e-8e9e-11e8-97c8-a0c6d0cad263.PNG)

[2018-07-23 20:51] indpurvesh commented on #181
I am getting the right amount in both cart and checkout page.

You want to do

    composer update

[2018-07-24 21:39] aryby commented on #181
sorry but there is no place to put an image on the editor of www.avored.com

can you fixe this thing please [https://www.avored.com/discussion/error-category-in-navbar-total-shiping
](url)

[2018-07-27 13:39] #181 closed

[2018-07-31 15:31] Pasteo2018 opened #182 "getCategoryProductWithFilter does not exist"
Hi,
from the index page, when I click on Category Product, redirect on page that return this error:

BadMethodCallException
Method Illuminate\Database\Query\Builder::getCategoryProductWithFilter does not exist.

Thanks for feedback

[2018-07-31 21:37] indpurvesh commented on #182
if you open a file and replace a code:  `app/Http/Controllers/CategoryViewController.php`

     /**
      *
      *
      * @param Request $request
      * @param $slug
      * @return \Illuminate\Http\Response
      *
      */
    public function view(Request $request, $slug)
    {
        $productsOnCategoryPage = 9;
        $category = $this->repository->findByKey($slug);
        $catProducts =

[2018-08-07 05:11] indpurvesh commented on #182
This bug has been fixed in latest release. @Pasteo2018  thanks for raising the bug.

[2018-08-07 05:11] #182 closed

[2018-08-12 22:50] ghermans opened #187 "Duplicate toolbar when editing a product"
**Describe the bug**
When you try to edit a product you get a toolbar menu on the top left that is shown twice.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the admin interface and click on **Shop**.
2. Choose any product and click on **Edit**.
3. look at the top left
**Screenshots**
If applicable, add screenshots to help explain your problem.
![producteditknipsel](https://user-imag

[2018-08-12 23:13] indpurvesh commented on #187
@ghermans thanks for raising the issue.

Fixed has been committed in Dev branch commit  # 6ca2cc7

Soon I will merge into a master branch.

[2018-08-13 00:11] ghermans opened #188 "Reduce page size for module management"
**Is your feature request related to a problem? Please describe.**
Not yet but it could become one.

**Describe the solution you'd like**
Currently this page is to taking to much space for its purpose.
It could be reduced by converting the cards into a table where we only have the name/description and for example a switch button or checkbox to enable / disable the module.

![moduleadminknipsel](ht

[2018-08-13 00:30] ghermans opened #189 "CSS issue on Order page with the Options dropdown"
**Describe the bug**
This issue is also related to #11

When you view a order and click on **option** the dropdown menu is showing **Change status** out of the page

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Order**
2. Click on **view**
3. Click on **Option**
4. See the issue

**Screenshots**
![dropdownknipsel](https://user-images.githubusercontent.com/1594411/44008161-76537e16-

[2018-08-13 14:34] ghermans commented on #11
@indpurvesh  where are you storing the backend theme for avored? i will help to give it a modern look :)

[2018-08-13 14:41] ghermans opened #190 "Add a changelog"
Having a changelog makes it easier for end users and contributors to see precisely what changes have been made between each release.

[2018-08-13 14:58] ghermans opened #191 "Wrong currency displayed"
**Describe the bug**
When you select a different currency at the frontend top menu, prices are still displayed in $.

**Screenshots**
![currencyknipsel](https://user-images.githubusercontent.com/1594411/44039729-f64e1eb8-9f19-11e8-8ffc-0f32fb540737.PNG)

![cartknipsel](https://user-images.githubusercontent.com/1594411/44039827-406e7a1a-9f1a-11e8-907e-c800e9e80e89.PNG)

[2018-08-13 20:32] indpurvesh commented on #190
I will start working on Changelog.

[2018-08-13 20:34] indpurvesh commented on #191
i will add this bug into my list. thanks again.

[2018-08-13 21:14] indpurvesh commented on #190
Just added a basic changelog and as i will update repository i wil keep adding more and more.

https://github.com/avored/laravel-ecommerce/tree/dev

[2018-08-13 23:22] ghermans opened #193 "Disable the option to remove the admin account."
**Describe the bug**
1. No confirmation message is displayed when you destroy a user.
2. If only one admin user exists and you click on destroy it will lock out the user from the system.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **System**
2. Click on admin user
3. Click on **destroy**
4. See the result

**Additional context**
1. Add a confirmation model when you click on **destr

[2018-08-14 00:33] ghermans commented on #72
@indpurvesh maybe this can help https://github.com/phpro/grumphp

[2018-08-14 00:35] indpurvesh commented on #72
It looks very interesting. thanks @ghermans

[2018-08-14 15:29] aryby opened #195 "error in banner"
erreur lorsque je crée un nouveau banner
![banner](https://user-images.githubusercontent.com/37639238/44101223-d4e2ae36-9fde-11e8-83af-f8fbe273807c.PNG)

nb :
when i want create this essue in www.avored.com
error like this :
![avorederror](https://user-images.githubusercontent.com/37639238/44101359-2c11973a-9fdf-11e8-8856-d37af0c1fd94.PNG)

[2018-08-15 00:54] indpurvesh commented on #193
I have disabled the Option to destroy user if the AdminUser is Super Admin (created via `avored:admin:make` command)

[2018-08-15 00:58] indpurvesh commented on #193
With Regards to Option 1(Add a confirmation model when you click on destroy) I am thinking of doing take me to a page where they see all possible details for that User and then click on Delete instead of just a confirmation alert.
Something like .NET developer usually does it.

What is your opinion on it? @ghermans

[2018-08-15 02:56] ghermans commented on #193
Well the thing is you have 2 links in the table (edit & destroy) in case you want to do the above suggestion then i should suggest to remove the destroy link from the table.

However even if you are on the user details page and you press remove it should give you a confirmation box to be sure that the user will/can be removed, this will give the end user a better user experience.

[2018-08-15 04:38] ghermans opened #196 "Typo in widget total-user"
**Describe the bug**
The widget title displays **Total User** it actually should be **Total Customers**

**Screenshots**
The screenshot is taken from the **dev** branch but issue is also visible in the **master** branch.

![widgetsknipsel](https://user-images.githubusercontent.com/1594411/44131817-bcab76aa-a055-11e8-8241-0dfccdafa444.PNG)

[2018-08-15 04:50] ghermans opened #197 "Recent orders widget"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Having a widget that displays a table with the latest (10) orders.

| Customer | Items | Total |
| ---------- | ------ | ------ |
| Sample customer | 2 | $ 40.00 |

[2018-08-15 18:09] ghermans commented on #11
@indpurvesh the current method that is used to display categories isn't very useful if you have a lot of categories.
Using a megamenu could resolve the issue or we could make a left menu like suggested above by @nteej  's comment. https://github.com/avored/laravel-ecommerce/issues/11#issuecomment-401524471

[2018-08-15 21:09] indpurvesh commented on #11
You are right. But there is an option to put a category into a submenu as well. I am hoping to make a mega menu as a custom module instead of build in feature. But again I will think about it.

Instead I am thinking of adding a group menu into an admin let say: (main top menu, left menu or footer menu) then inside a code they just do `$menus = Menu::get('footer-menu')` I know this feature does not

[2018-08-15 21:50] ghermans opened #200 "Customers page"
**Describe the solution you'd like**
Having a customer page where you can search for a customer or see a table with all customers
I guess that below table would benefit for all devs & endusers

## list.blade
| ID | Name | Address | Zipcode | City | Country | Email | Phone | Actions |
| -------------------- | -------| --------- | ------ | --------- | ----- | ------- | ------- | ------- |
| 1 | Dumm

[2018-08-15 21:59] indpurvesh commented on #196
Your query about the rename:=> Users => Customer
I am thinking of adding an Alias configuration where they can put a What they want to call it. Is it
 - `Add to Cart` or `Add to Bag`
 - `User` => `Customer`

 I hope it make sense or another idea is to change it into a translation file?
What is your opinion?

[2018-08-15 22:00] indpurvesh commented on #11
@ghermans Your front design looks very nice. Thanks for the hard work that you have put in.

[2018-08-15 22:35] ghermans commented on #11
@indpurvesh i do understand that you want to keep the default template simple as possible, but keeping something simple does not mean that the  end-user / customer experience may suffer on it.

What i have seen on other e-commerce platforms like OpenCart & Magento is that most of the time end-users and even designers use the default theme to add / modify there own style to it,
so i would suggest t

[2018-08-15 22:43] indpurvesh commented on #11
@ghermansI agree that nowadays thing has changed a lot. Letus make a mega menu.

[2018-08-15 22:45] ghermans commented on #196
I would suggest to name it **customers** by default as that would be a logic name for it.
I also forgot that there should be a **Customers group** page.
a customer group could be used to define for example
- The customer(user) as Residential/Small Business/ Enterprise.
- Custom discount price.
- Custom tax rate

This is just a idea of course but again i guess this would benefit the user experience

[2018-08-15 22:49] indpurvesh commented on #196
All three options are in my todo list already.

[2018-08-15 22:55] indpurvesh commented on #11
@ghermans Lets Add most of my todo list into here.

https://github.com/orgs/avored/projects/1

[2018-08-15 22:56] ghermans commented on #11
The link isn't working

[2018-08-15 22:59] ghermans commented on #11
@indpurvesh could you maybe add the current open issues also to the project list?

[2018-08-15 23:15] indpurvesh commented on #11
I have added most of them.

[2018-08-15 23:20] ghermans opened #201 "Optimize module management"
**Describe the solution you'd like**
The current method only allows admins to enable or disable a module, this is great and looks enough for developers.
But we could make this page more useful for end-users who are not that experienced with composer / coding etc by making it simple to find and install new extensions (modules) similar to opencart / magento.

#### Avored MarketPlace
I would suggest

[2018-08-15 23:25] ghermans commented on #201
Rome wasn't build one day too so no problem ;) i'm just shooting idea's to the project.

[2018-08-15 23:26] indpurvesh commented on #201
Obviously, I know it. I do appreciate what you are doing it too. once again thanks for all.

[2018-08-17 21:48] #189 closed

[2018-08-17 21:48] #193 closed

[2018-08-17 21:49] #190 closed

[2018-08-19 00:55] ghermans opened #203 "Consider Slack or Gitter"
Using Slack or Gitter would be useful for other contributors to communicate regarding the project / issues / features

[2018-08-19 00:58] ghermans opened #204 "Add the feature to create/edit/remove a custom order status"
**Describe the solution you'd like**
- Allow admins to create/edit/remove a custom order status.

[2018-08-19 01:16] indpurvesh commented on #204
I have those in mind and that's why I am using an `order_statuses` table which contains the status for the table but I still need to implement CRUD for that table.

[2018-08-19 02:55] ghermans opened #205 "Missing VAT number for customers"
**Additional context**
https://en.wikipedia.org/wiki/VAT_identification_number

[2018-08-19 02:57] ghermans opened #206 "Add tracking number for order shipments"
a tracking number should be saved for each shipment, this will allow the customer to track the package with the courier.

[2018-08-21 07:00] ghermans opened #207 "Monthly revenue widget"
**Describe the solution you'd like**
- [ ] Add a widget that displays the current monthly revenue.

[2018-08-23 00:30] #207 closed

[2018-08-23 00:30] #206 closed

[2018-08-23 00:30] #205 closed

[2018-08-23 00:30] #203 closed

[2018-08-23 00:30] #200 closed

[2018-08-23 00:31] #196 closed

[2018-08-23 00:31] #197 closed

[2018-08-23 00:31] #191 closed

[2018-08-23 00:31] #201 closed

[2018-08-23 00:31] #188 closed

[2018-08-23 00:31] #204 closed

[2018-08-23 00:32] #187 closed

[2018-08-25 22:40] ghermans opened #212 "Product data is not being saved"
**Describe the bug**
When updating a product the category isn't saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to **Shop**
2. Click on **Categories**
3. Click **edit** on a random product.
4. Change the category and see the result.

**Screenshots**
Edit screen
![editproductknipsel](https://user-images.githubusercontent.com/1594411/44623170-679bf600-a8c8-11e8-8013-e3943d81b2a7.PNG)

[2018-08-26 13:06] #195 closed

[2018-08-27 06:37] ghermans commented on #11
@indpurvesh i'm busy with changing the datagrid for the backend theme to default html tables instead divs.
![datagridknipsel](https://user-images.githubusercontent.com/1594411/44644430-5e984b00-a9d4-11e8-93d7-82b5c5ffda53.PNG)

[2018-08-27 08:11] DaviMenezes opened #213 "Font Awesome version "fab" in menu and "fa" in products"
Icons are not showing in default installation of the system

[2018-08-28 07:58] indpurvesh commented on #11
@ghermans no worries friend.

Possibly yes you can use `tables`

[2018-08-28 07:59] indpurvesh commented on #213
I will take a look at it.  @DaviMenezes are you not seeing some or all icons?

[2018-08-28 08:53] ihabhamad commented on #11
@indpurvesh you can use my mega menu laravel package
https://github.com/ihabhamad/LaravelMegaMenu

[2018-08-28 08:59] ihabhamad commented on #11
New version in progress and well be coming soon but iam very busy now

[2018-08-28 20:37] DaviMenezes commented on #213
In social menu, the icons following a patternsl and in product grid, other

[2018-09-02 09:08] itzmj-23 opened #214 "Demo Site has an error/bug"
I tried to register as new guest/customer to the demo site and also tried to login but the web app produced an error regarding to the "logs" and "permission denied".

Thank you.

[2018-09-13 17:14] bkerberos opened #216 "Error in "Create product""
The error occurs when uploading an image for the product

![image](https://user-images.githubusercontent.com/30532126/45504007-40f61000-b74e-11e8-850d-c63d48d6b3f6.png)

After recording I get the following

![image](https://user-images.githubusercontent.com/30532126/45504025-4ce1d200-b74e-11e8-9416-d9a7852f86c6.png)

The path in database

![image](https://user-images.githubusercontent.com/30532126

[2018-09-13 18:27] ghermans commented on #216
Do you see the file in your folder?

[2018-09-13 20:20] bkerberos commented on #216
If the files exist, It seems that the storage folder is created twice.

![image](https://user-images.githubusercontent.com/30532126/45513481-6859d680-b768-11e8-8968-a61644e8205a.png)

When uploading a new image either in products or banner, double route storage / storage is created

[2018-09-13 20:55] indpurvesh commented on #216
I think In side image manager there is an upload method need to do str_ replace storage is a symlink for public folder

[2018-09-14 18:05] bkerberos commented on #216
When you save a product, banner and profile picture, you create a double "storage / storage" route when you show it, I do not know how you could solve it.

[2018-09-14 20:42] bkerberos commented on #166
http://localhost:8000//storage/uploads/catalog/... "Not Working :( ' Assign me double '//'

[2018-09-14 21:57] indpurvesh commented on #216
@bkerberos & @ghermans i have fixed the bug in dev branch. But soon i am thinking of rewrite `ImageManager`completely soon so i hope then i will add few more feature and few more unit test to make sure this won't occur again.

[2018-09-14 21:57] #216 closed

[2018-09-15 00:43] indpurvesh commented on #213
@DaviMenezes Sorry but I can't replicate on my copy. I would guess it could be something to do with network issue of that particular time. Sometimes I have face those issue in past but it's not related to code. If you can suggest me to step to reproduce an error or some kind of screenshot would help.

[2018-09-15 00:49] indpurvesh commented on #212
@ghermans  I did try to replicate the bug. But its working fine for me.

[2018-09-15 09:08] ghermans commented on #212
i will verify it again tonight

[2018-09-20 20:34] ghermans commented on #11
@indpurvesh i am still busy with upgrading the back-end theme but i expect to push the changes tomorrow or during the weekend.

![backend-dash](https://user-images.githubusercontent.com/1594411/45844869-e3e8f400-bd23-11e8-915d-4f0cc2ef4513.PNG)

![backend-dash2](https://user-images.githubusercontent.com/1594411/45844868-e3e8f400-bd23-11e8-9456-cfbbc05bd05e.PNG)

[2018-09-21 01:44] #212 closed

[2018-09-21 13:51] ghermans opened #217 "Backend theme"
These tasks should take place during the back-end theme improvements.

## Todo

- [x] Deprecate support for the current theme.
- [x] Change datagrids to tables instead divs.
- [x] Fix responsive support (mobile / tablet).
- [ ] Fix summernote or change it with some other Vue WYSIWYG editor.
- [x] Fix form inputs
- [x] Reorder the left side menu options to create a better user experience.

[2018-09-21 23:48] indpurvesh commented on #217
@ghermans

To me seems like you have made big changes in term of design so if you want: You can create another branch `dev/design` and we might merge it later on.

I have added a monthly revenue widget and to do that I have to add `cost_price` field into `products` table so you might have to do after `pull` you might have to do this two command again.

    php artisan avored:install

second

    p

[2018-09-22 00:30] ghermans commented on #217
@indpurvesh  i created this ticket actually for myself so that i know what i still need todo since i can't add things to the project board.
Regarding creating a new branch: i can't create new branches on the original repo (only to my fork).
Thanks for the feedback regarding the new widget, i have just merged the dev branch with my fork.

[2018-09-22 00:43] indpurvesh commented on #217
@ghermans I have added you into a project team.  I hope that then you can manage projects easily. I have created `design` branch too.

[2018-09-22 16:11] ghermans opened #218 "Product Returns"
**Describe the solution you'd like**
There should be a return page where customers can select a product from previous orders to return the product. for example if the product is broken or customer is not satisfied etc...

[2018-09-22 16:21] ghermans opened #219 "[Suggestion] backend datagrid to datatables"
@indpurvesh since i'm busy with changing the back-end theme i was thinking that we maybe could use datatables instead of the current method?

[2018-09-22 16:50] ghermans commented on #217
@indpurvesh  while trying to push to the design branch i receive the current error

[2018-09-22 19:03] indpurvesh commented on #217
Try it now @ghermans

[2018-09-22 23:46] indpurvesh commented on #219
I am hoping to implement the whole data grid as in from server side. When someone makes a custom module it's easier for them to add DataGrid on admin. I have implemented some feature on it. Sorting is working and the filter is working too but still, I think I need to add more feature to it.

That's why I don't want to add third-party thing into it because when it comes to customizing it based on y

[2018-09-27 19:43] #72 closed

[2018-09-28 16:26] ghermans opened #222 "artisan avored:install returns ErrorException : symlink(): Protocol error"
**Describe the bug**
a error occurred while running `artisan avored:install `

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. run  artisan avored:install
2.  Do you want to Install Dummy Data? (y/n) -> select yes
3. See error

**Additional info**
i changed the permissions to **775** for **storage/** and **public/uploads**

[2018-09-29 03:50] ghermans opened #225 "Import products from csv or xml"
**Describe the solution you'd like**
Allow staff to import a csv or xml file with products and map the fields to the product database.

**Describe alternatives you've considered**
I would suggest to create a upload form to upload the file, after uploading the file show a table that displays all the data and select boxes above the titles to map it with the database fields

[2018-09-29 19:42] ghermans opened #226 "Add laravel-self-diagnosis"
**Describe the solution you'd like**
This package allows you to run self-diagnosis tests on your Laravel application. It comes with multiple checks out of the box and allows you to add custom checks yourself.

https://github.com/beyondcode/laravel-self-diagnosis

## Included checks

- Is the APP_KEY set?
- Are your composer dependencies up to date with the composer.lock file?
- Do you have the cor

[2018-09-29 22:43] indpurvesh commented on #226
@ghermans
I am currently working on similar kind of `.env` file configuration check as I was trying to fix the storage bug.

[2018-09-29 23:06] #219 closed

[2018-09-30 04:39] ghermans commented on #222
@indpurvesh i resolved the issue, it was caused by vagrant not being executed from PowerShell with admin rights*.

[2018-09-30 04:39] #222 closed

[2018-10-05 07:44] Git-akash opened #230 "PlaceOrder Button is not working"
**Ideally we would expect you to raise a bug on AvoRed Official Website **
https://www.avored.com/discussion/category/general

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Screenshots**
If applicable, add screenshots to help explain your problem.

[2018-10-05 07:49] ghermans commented on #230
We can only guess what is wrong since you didn't fill in the issue template.
Have you configured the shipping and payment settings in the backend before trying to place the order in the frontend?

[2018-10-05 08:01] Git-akash commented on #230
Thank you it Works!!

[2018-10-05 11:44] #230 closed

[2018-10-06 03:21] indpurvesh opened #231 "Remove hard coded currency symbols from whole application"
There are many hard coded currency symbols in the app

Can you make it comes from system configuration please

[2018-10-07 00:16] indpurvesh commented on #218
Stage 1 is done.

[2018-10-07 01:15] ghermans opened #234 "Product Property Visibility Feature:"
- Add Field into Product Property: Is visible in Front End?

[2018-10-07 01:17] ghermans opened #235 "Front Menu Group & Mega Menu"
- Main Menu
 - Left Menu
- Footer Menu

[2018-10-07 01:17] ghermans opened #236 "Optimize module management #201"

[2018-10-07 01:18] ghermans opened #237 "Upgrade app to laravel 5.7"
- [ ]  Upgrade avored/laravel-ecommerce
- [ ]  Upgrade avored/framework

[2018-10-07 01:19] ghermans opened #238 "Add Unit Test and Refactor Code Base where it looks messy"

[2018-10-07 01:19] ghermans opened #239 "Alias Based Configuration"
- Customer
 - Add to Cart button txt
 - Default Country for the Customer

[2018-10-07 01:20] ghermans opened #240 "Post Code based Tax Rate."
Need more information on this. Might be I need to read more about some country tax system & how tax system would work in other countries.

[2018-10-07 01:20] ghermans opened #241 "Promotion Module Rules (Feature Request):"
- Cart Rules
- Catalog Rules

[2018-10-07 02:33] ghermans opened #242 "Add release badge to the readme file"

[2018-10-07 02:46] ghermans opened #243 "Monthly revenue widget #207"

[2018-10-07 02:46] ghermans opened #244 "Rewrite Image Manager from scratch and add unit test"
- [ ] Image Upload with Different Size (If argument pass to try otherwise just upload an image only.)
- [ ] Image Delete when someone destroy image.

[2018-10-07 02:47] ghermans opened #245 "#191 Wrong currency displayed"
Currency Change with Icon.

There is bug on cart/checkout page display always default currency amount.

[2018-10-07 02:47] ghermans opened #246 "Product with Variation canAddToCart function doesn't work properly"
If Attribute Price is more then default price then Tax gets Calculated based on default price instead of the variable product price.

[2018-10-07 02:47] ghermans opened #247 "Field Name Consistency: Product Edit Card e.g.: product-property or attribute_selected make sure all use underscore instead of hyphen"

[2018-10-07 02:50] ghermans commented on #245
Related to #232

[2018-10-07 07:35] hulkur commented on #237
This requires upgrade of avored/framework

[2018-10-07 09:33] narendravardi commented on #246
@ghermans, can i pick this up ?

[2018-10-07 11:50] ghermans commented on #246
@narendravardi  sure, can you send a pull requests to the dev branch when you are done?

[2018-10-07 19:16] nbrabant commented on #238
I'll see what i can do ;)

[2018-10-08 01:24] mathiasdonoso opened #250 "Dockerfile outdated"
**Ideally we would expect you to raise a bug on AvoRed Official Website**
https://www.avored.com/discussion/category/general

**Describe the bug**
Docker 'build' command is looking for the indpurvesh/laravel-ecommerce docker repository which does not exist. The docker file also specifies php5, it must be updated.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the project folder
2. Run

[2018-10-08 04:59] indpurvesh commented on #243
this one should be done.

[2018-10-08 05:08] indpurvesh commented on #234
It has been added into Backend but at this stage,
there is not feature to display on the frontend.

[2018-10-08 05:57] indpurvesh commented on #226
It has been added in composer and inside the install command if all the validation won't pass then it won't let you install.

[2018-10-08 06:03] indpurvesh commented on #245
This bug was fixed. It should be in last release.

[2018-10-08 06:03] #245 closed

[2018-10-08 06:20] indpurvesh commented on #244
Both task should be done.

[2018-10-08 06:38] indpurvesh commented on #237
Anyone want remove the assets folder and make it flat. We as laravel doc says its not required but its nice to follow folder structure.

[2018-10-08 07:41] dangenendt commented on #238
@nbrabant
i started testing the CartController. This is nearly done. Perhabs you can start with another class? Thx man:man_dancing:

[2018-10-08 07:46] indpurvesh commented on #238
@nbrabant @dangenendt Thanks

[2018-10-08 11:20] nbrabant commented on #238
I'll start to test the OrderController

[2018-10-09 00:06] indpurvesh opened #254 "Cart Manager should return price formatted"
Adde a feature inside a Cart Manager.

It should return formatted price if argument is passed e.g

    Cart::total($formatted = true); //It should return $4,500.00  and make sure $ is not hard coded and use Site Currency Symbol.

[2018-10-09 00:21] #231 closed, assigned to nobody

[2018-10-09 00:22] #250 closed, assigned to nobody

[2018-10-09 07:46] phase06 commented on #254
Hi @indpurvesh , I can look into this.

[2018-10-09 07:51] indpurvesh commented on #254
@phase06 sure go ahead and make sure you do PR on dev branch.

If you need any help please comment.

For the currency symbol, you can use

    Session::get('currency_code')

[2018-10-09 07:55] phase06 commented on #254
okay thanks :+1:

[2018-10-09 09:28] indpurvesh commented on #254
Yes you make changes and n that file and do a pull request on dev branch

[2018-10-10 22:29] nbrabant commented on #238
Hello.
Hum... After trying to use mocking requests to test the OrderController, i have fail and actually i'm blocked on understanding the methods to use... (i'am junior in unit tests)
So, is here someone how help me to understand what i have missed? thanks

[2018-10-10 22:40] indpurvesh commented on #238
usually, you don't mock the controller. If you still share some code would be easy to give you some suggestion.

If you follow laravel unit test docs they make it a unit test for the app is a lot easier.
https://laravel.com/docs/5.7/http-tests
you don't have to mock almost anything.

[2018-10-11 00:06] ghermans opened #261 "avored:install - en_US locales are missing"
**To Reproduce**
Steps to reproduce the behavior:
1. enter `artisan avored:install`
2. See error

**Screenshots**
![installknipsel](https://user-images.githubusercontent.com/1594411/46772808-2df94000-ccfa-11e8-9d68-af25db7fed7c.PNG)

[2018-10-11 00:10] indpurvesh commented on #261
i am going to remove locale check completely.

temp fix:
Open a file
`config/self-diagnosis.php`

then comment out below code:

         //\BeyondCode\SelfDiagnosis\Checks\LocalesAreInstalled::class => [
         //   'required_locales' => [
         //       'en_US'
         //   ],
        //],

[2018-10-11 01:44] ghermans opened #262 "Class 'AvoRed\Framework\Cart\Session' not found (View: /home/vagrant/avored/themes/avored/default/views/cart/view.blade.php)"
**To Reproduce**
Steps to reproduce the behavior:

1. Add a product to your shopping cart.
2. Go to your shopping cart.
3. See error.

[2018-10-11 04:13] ghermans opened #263 "Unable to switch themes"
**Describe the bug**
Themes can't be changed right now.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new theme with `avored:theme:make`.
1. Go to the /admin/themes.
3. You will notice that you can't enable the new theme.

**Screenshots**
![themes](https://user-images.githubusercontent.com/1594411/46780368-a4a73500-cd1c-11e8-90cc-2d8922eff0d3.PNG)

[2018-10-11 05:11] #254 closed

[2018-10-11 05:11] #262 closed

[2018-10-11 06:49] dangenendt commented on #238
@nbrabant
Have a look into the CartControllerTest i made (now in master).
I think then you will see how things work. If not, don't hesitate to ask.

[2018-10-11 20:46] nbrabant commented on #238
Hello,
@dangenendt , i take a look on the CartControllerTest. For some mocking, i understand how it works, but i don't understand how i can define arguments in my mocked request
I've created a branch with the test in my fork, if someone can take a look an review to improve the test, i will be grateful

[2018-10-13 00:01] indpurvesh commented on #247
## Find the code base where we see inconsistency & fixed it

- [x] Attribute field have dropdown-options and replace it with dropdown_options

[2018-10-14 12:43] nbrabant commented on #18
I can help for french translation

[2018-10-14 20:54] #263 closed

[2018-10-15 05:41] indpurvesh opened #266 "change summernote editor to simpleMDE"
## Feature Request

Replace Backend Editor from summernote to simpleMDE. Currently it is being used in product description

[2018-10-15 08:48] #234 closed

[2018-10-15 08:49] #218 closed

[2018-10-15 08:49] #261 closed

[2018-10-15 08:50] indpurvesh opened #268 "Laravel 5.7 Bug List"
I have upgrade laravel framework to 5.7

If you find any bug regarding laravel5.7 upgrade please comment it here. I try to fix most as a hotfix.

[2018-10-15 12:54] aryby opened #269 "error in banner"
when i wanna create a new banner image
![avored](https://user-images.githubusercontent.com/37639238/46952088-c9374000-d081-11e8-95e2-6cfc888db607.PNG)

[2018-10-15 19:48] indpurvesh commented on #269
It is fixed in the dev branch.

in BannerController.php replace the
 ~~use AvoRed\Framework\Image\Facade as Image;~~

    use AvoRed\Framework\Image\Facades\Image;

[2018-10-15 21:18] aryby commented on #269
whene i do that i have an other error like this :
![error2](https://user-images.githubusercontent.com/37639238/46978992-3c63a500-d0c8-11e8-92f0-8f2ed81e12ad.PNG)

[2018-10-15 21:35] #269 closed

[2018-10-16 03:04] #237 closed

[2018-10-17 09:01] mkrahamath opened #271 "Support for Multi-Vendor?"
This e-commerce has feature to support multi-vendor?

[2018-10-18 06:55] indpurvesh commented on #271
at this stage, there is no plan to implement it. Maybe next year?

[2018-10-18 08:19] krahamath commented on #271
Ok

Le jeu. 18 oct. 2018 à 08:56, Purvesh <notifications@github.com> a écrit :

--
--

*Raha MK*

[2018-10-21 03:59] indpurvesh commented on #246
If we have a Product with Attribute in that case when we call

canAddToCart method check the parent product qty not the variation product qty.
So below code needs to use `$attribute`

     public function canAddToCart($slug, $qty, $attribute = [])
     {
         $cartProducts = $this->getSession();
         $cartProduct = $cartProducts->get($slug);
         $cartQty = $cartProduct ? $cartProduct-

[2018-10-23 16:15] bonucci commented on #268
Hello, i installed avored, and i created a new currency (euro), everything is fine, but in the frontend navigating to product detatils give me a error:

"Undefined variable: currencySymbol"

[2018-10-24 08:31] indpurvesh commented on #268
@bonucci I will take a look at this bug asap. thanks

[2018-10-28 05:56] ghermans opened #272 "mysql migration fails during avored:install"
**Describe the bug**
Error while executing `artisan avored:install`

  Illuminate\Database\QueryException  : SQLSTATE[HY000]: General error: 1215 Cannot add foreign key constraint (SQL: alter table `avored_menus` add constraint `menus_menu_group_id_foreign` foreign key (`menu_group_id`) references `avored_menu_groups` (`id`))

**To Reproduce**
Steps to reproduce the behavior:
1. run `git clone -b

[2018-10-28 07:15] ghermans opened #273 "Notify customers with SMS from third-party"
**Describe the solution you'd like**
Create a additional module that adds a new option to the orders back-end function "change order status" to send the notification to the customers phone and email, or if the checkbox isn't checked only choose email, it can also be used for invoicing, shipping delays etc.

**Additional context**
- Twilio can provide this services https://www.twilio.com/sms
- Twil

[2018-10-28 07:23] ghermans opened #274 "Enable pickup from store by default"
**Is your feature request related to a problem? Please describe.**
Related to https://github.com/avored/laravel-ecommerce/issues/230
If free shipping or pickup from store isn't enabled then the customer can't confirm his order.

**Describe the solution you'd like**
i believe these are the 2 best options to resolve this issue:
1. Enable pickup from store or free shipping by default during the insta

[2018-10-29 13:00] nickescobedo commented on #225
I can take this.

Do people really need to allow upload via an XML file? CSV yes, but not sure about XML.

My suggestion would be to allow a user to download a template of what we expect in order to simplify the process. This way we don't need to map database fields.

Validation should be done to make sure the header rows have the expected column header names.

We can show a preview of maybe the f

[2018-10-29 17:37] ghermans commented on #225
Sure feel free to get on the wagon ;)

**Do people really need to allow upload via an XML file? CSV yes, but not sure about XML.**
i'm not 100% sure about that either, i got the idea from working with a customer that is only receiving .csv  and .xml files from his supplier.

I have created a HTML preview how it could look like:
![snippet1](https://user-images.githubusercontent.com/1594411/47668485

[2018-10-30 02:45] Hungez commented on #18
May i know where is the directory file path for translation files? Is it inside each of the separate modules? I only saw en folder

[2018-10-30 07:40] Hungez commented on #18
ok, so any translations should be in those directory that you mentioned.

[2018-10-30 11:06] nickescobedo commented on #225
I'll do CSV first.

Can we do static import columns instead of allowing the user to select them? If they are receiving a CSV file they should just be able to change the column name. I'll provide them a link to download a template, so they know what the column names we are expecting.

Dynamic columns increases the complexity without bringing much more value.

For example. What if someone tries to s

[2018-10-30 17:08] indpurvesh commented on #225
Yes we can do static import for a start then add more feature In future

[2018-10-31 12:23] bonucci opened #275 "Sku Product Variations"
When creating a variable product, example a product with different colors, each product/color should have is own Sku.
Very important feature

[2018-11-01 00:21] indpurvesh commented on #275
Actually yes variable product all has separate sku that gets generated automatically on creation but then you can edit and change it if you want.

[2018-11-01 07:56] bonucci commented on #275
The steps. Let me check and then i can suggest a more user friendlly

[2018-11-02 16:15] bonucci opened #276 "Catalog Properties"
In Catalog > Properties there is some big bugs, for example this one:

[code]

When you trigger "_saveDropdownOptions" instead of updating the values your deleting and creating them again. But this will mess the products properties values, since your IDs will be different...

[2018-11-02 17:46] indpurvesh commented on #276
I agree.

I did that delete and then insert to make few less query but you right it will delete all the existing product property. I have to fix it soon

[2018-11-03 20:30] #272 closed

[2018-11-03 20:30] #276 closed

[2018-11-04 16:50] ghermans opened #278 "Add Socialite support"
**Is your feature request related to a problem? Please describe.**
no

**Describe the solution you'd like**
In addition to typical, form based authentication, Laravel also provides a simple, convenient way to authenticate with OAuth providers using Laravel Socialite. Socialite currently supports authentication with Facebook, Twitter, LinkedIn, Google, GitHub and Bitbucket.

**Additional context**

[2018-11-13 16:57] bonucci opened #279 "Database Structure -Properties tables"
Is there a reason have all these tables:

avored_product_property_boolean_values
avored_product_property_datetime_values
avored_product_property_decimal_values
avored_product_property_integer_values
avored_product_property_text_values
avored_product_property_varchar_values

Is the purpose of having all of them to make it lighter da tables? Wouldnt be better create a table that unify these tables a

[2018-11-13 17:09] bonucci commented on #279
Well, sorry, i understood the idea behind it, sorry for my misleading post.

[2018-11-13 17:09] #279 closed

[2018-11-14 14:48] bkerberos opened #280 "Change theme"
Hello, I would like to know where we could get themes to install and win, in any case how we could build a theme to match the avored classes in bootstrap.

[2018-11-14 19:44] indpurvesh commented on #280
Below are the steps you can follow:

Execute Artisan command:

    php artisan avored:theme:make vendor_name theme_name

If you want you can copy and paste `js,css,images` folder and view file you copy and paste based on which one you want to override it. Let say i want to override login page then you only `themes/avored/default/views/auth/login.blade.php` to `themes/vendor_name/theme_name/views/a

[2018-11-20 15:43] bonucci opened #281 "Order Products"
Huge bug, in orders_product table is being used a foreign_key to the table products. So this means that if for some reason i delete the products from the orders table, it disapears the products from the order...

Very big problem.

[2018-11-20 20:01] indpurvesh commented on #281
I do remember thinking about it when I was implementing that feature. I know about the laravel soft delete feature that I can implement. But ideally, I don't want to keep a record in `products` table. What would be your suggestion?

[2018-11-20 20:07] bonucci commented on #281
What i would do is remove  the product_id relation and turn it in to a varchar type, than i would add more columns to the table with the product main  information like name, sku, price, main_image path, etc.

This way you preserv the product data from the order

[2018-11-20 20:18] indpurvesh commented on #281
I think its a good idea. Here is what i am thinking to do.

Add another column called `product_info` and then convert the product model to json and store the json inside that column.

[2018-11-20 20:35] bonucci commented on #281
Thats great idea!

[2018-11-27 18:25] #274 closed, assigned to nobody

[2018-11-29 02:27] ludioao opened #283 "Product Variation Cart"
E.g.
I can't have a T-Shirt with Size M and color Black? Its the same product, but Avored consider 2 distinct product.

How to deal with this?

Regards

[2018-11-29 02:30] #283 closed

[2018-11-29 02:30] indpurvesh commented on #283
Ideally yes it is two different product and that's the only way to manage different qty, price and almost anything by having two separate product or in other words: One parent and rest child products.

Sorry but i still don't understand your question? What do you want to achieve?

[2018-11-29 02:34] ludioao commented on #283
Sorry, friend.

I've seen how it works.

[2018-12-03 15:46] return0ir opened #284 "_colors.scss is missing"
**Describe the bug**
In the "themes/avored/default/assets/sass/app.scss", _colors.scss is imported while there is no such file!

**To Reproduce**
Steps to reproduce the behavior:
1. run "npm run dev" to compile app.scss file
4. See the error: "File to import not found or unreadable: colors"

[2018-12-05 02:31] ludioao opened #285 "Product Variation on Cart."
Hello, friend.

When I try to add a product without stock, the framework add normally without problems.

Could you block variation products without stock?

Tks

[2018-12-05 03:50] indpurvesh commented on #285
You mean on backend your product variation qty is 0 and it allow you to add to cart?

[2018-12-05 18:06] ludioao commented on #285
Yes!

btw, also I need to get info to freight calculate such as width, height, weight... how can I get this info? I didnt find anyway

[2018-12-05 18:14] indpurvesh commented on #285
You can find all the freight calculation fields on backend side in the product edit page.

Yesterday when I was doing a testing with product variation I have noticed some other bug too and to fixed those bug I have to do some database change as well. I will work on it and most likely do a release in next sprint.

[2018-12-05 18:19] ludioao commented on #285
Thanks @indpurvesh . I'll wait the next release. Now I'm working on a e-commerce website and it's the first time I use AvoRed as a e-commerce platform.

[2018-12-05 18:29] ghermans opened #286 "Pickup From Store should be displayed at shipping methods"
**Describe the bug**
Currently the option **Pickup From Store** is displayed as a payment method.
this should be a shipping method.
Additional the payment method should be 'Pay at pickup' or something similar.

**Screenshots**
![shipping](https://user-images.githubusercontent.com/1594411/49534892-08844f00-f8c3-11e8-9d4c-4b399eb2d865.PNG)

[2018-12-05 18:39] ghermans opened #287 "State field is always required on checkout form"
**Describe the bug**
Currently you always need to enter something in the state/region textfield, however this shouldn't be a required field.

[2018-12-05 18:40] ghermans opened #288 "HTML code is displayed as plaintext at frontpage"
![htmldisplay](https://user-images.githubusercontent.com/1594411/49535910-995c2a00-f8c5-11e8-81c9-9b2e098afc1e.PNG)

![html2knipsel](https://user-images.githubusercontent.com/1594411/49535998-cd374f80-f8c5-11e8-9239-e90c1e2bd484.PNG)

[2018-12-06 07:00] #217 closed

[2018-12-06 08:55] #284 closed

[2018-12-07 20:38] ludioao opened #289 "Saving Attributes with Empty Field"
Hello,

I've tried to save attribute with 3 filled fields and 1 without any information and got an error:

``SQLSTATE[23000]: Integrity constraint violation: 1048 Column 'display_text' cannot be null (SQL: insert into `avored_attribute_dropdown_options` (`display_text`, `attribute_id`, `updated_at`, `created_at`) values (, 2, 2018-12-07 20:30:07, 2018-12-07 20:30:07))``

Solved when I modify Attri

[2018-12-07 20:56] indpurvesh commented on #289
Thanks @ludioao its really nice bug. I do really liking the bug that you are raising. thanks for that.

I am working on your Product Attribute Bug too. This one is simple fix with

    if (empty($val)) {
        continue;
    }

Plus I am thinking of adding Laravel Form Request check too.

[2018-12-07 21:00] ludioao commented on #289
Can't solve with empty($val), 'cause $val is an array with a key 'display_text'.

My code fix is above.

[2018-12-07 21:03] ludioao opened #290 "Form Helper"
@indpurvesh We should use this package to generate Forms :)

Look there
https://github.com/netojose/laravel-bootstrap-4-forms

[2018-12-07 21:07] indpurvesh commented on #290
When i stated it i did stated using something simple and the idea was to improve as it goes.

[https://github.com/avored/framework/tree/master/resources/views/forms](Form Field Template)

Then I did think of building my own Vue Form Component but now again I am thinking of removing vue completely and use the only jquery.

[2018-12-07 21:09] ludioao commented on #290
Sure, but this package doesn't use any dependency like Laravel Collective or something.

basically same as your idea, but a little better...

[2018-12-07 21:12] indpurvesh commented on #290
I had quickly see that package as you have given me a link. Once I will fix some very important task (specially your attribute one) then I will think and work on making app/package more stable and use the best possible practice and I am working on PHPUnit test coverage improvements too.

[2018-12-12 08:13] return0ir opened #291 "The name of the countries in address.blade.php is not retrieved properly"
**Describe the bug**
pass null key as the second parameter in $options->prepend('please select country', null); in options($empty = true) function in AvoRed\Framework\Models\Database\Country, will end up renumbering country numeric keys!

this renumbering will make the ID of the country mistaken if you are changed the order of the countries in database(for example ordering them by phone code) !

t

[2018-12-16 08:35] return0ir opened #292 "select2 css is missing"
**Describe the bug**
select2 css is not imported!

**To Reproduce**
Steps to reproduce the behavior:
1. see catalog/product page in admin dashboard, the category select  option is not shown correctly(because  select2 css is not loaded while select2.js is loaded)!

[2018-12-16 20:49] Jkmorais opened #293 "Problem with installation"
Can someone help me? I'm trying to install AvoRed, but I'm getting this error:

```SQLSTATE[42000]: Syntax error or access violation: 1064 You have an error in your SQL syntax; check the manual that corresponds to your MariaDB server version for the right syntax to use near 'json null, `created_at` timestamp null, `updated_at` timestamp null) default cha' at line 1 (SQL: create table `avored_order

[2018-12-16 20:56] indpurvesh commented on #293
Are you using `mysql` or some other databases?

[2018-12-16 22:41] ghermans opened #294 "Add multiple tracking numbers to orders + select a carrier"
**Describe the solution you'd like**
Right now staff members can only enter 1 tracking number for each order, this can work in most cases.
But what if you can only ship some goods from the order because the other goods are currently not in stock or any other problem related the goods?

**Describe alternatives you've considered**
as the title explains it would be better to allow staff members using

[2018-12-16 23:58] Jkmorais commented on #293
Yes. I'm using MariaDB (Version 10.1.36-MariaDB) from Xampp

[2018-12-17 00:17] indpurvesh commented on #293
i never try maria db in my local so i will try and let you know more details. After seeing the error i have a feeling that `maria db` wont support `json` as a datatype which cause the bug. If you change the json to text it might work in your case.

[2018-12-17 00:18] ghermans commented on #225
@nickescobedo can you provide us any update of your progress?

[2018-12-17 05:10] return0ir commented on #293
In vendor\avored\framework\database\migrations\2017_03_29_000000_avored_framework_schema.php change this line:
$table->json('product_info')->nullable()->default(null);
to:
$table->text('product_info')->nullable()->default(null);
it might solve your problem!

[2018-12-17 12:33] nickescobedo commented on #225
I haven't started unfortunately. Thanks for asking.

[2018-12-17 17:39] Jkmorais commented on #293
Thanks @return0ir. It Works!

[2018-12-17 17:41] Jkmorais commented on #293
Thanks @return0ir , It Works!

[2018-12-17 17:41] #293 closed

[2018-12-17 18:30] Jkmorais opened #295 "Avored API"
Hello. Is there any way to implement a Rest API in AvoRed for product listing (with images) and categories?

[2018-12-17 18:40] indpurvesh commented on #295
Yes there is checkout ‘vendor/avored/framework/src/Api’ folder.

You need to do auth via passport and once you get nearer token then you can do

Https:// siteurl/api/product and etc

Route file is located at ‘vendor/avored/framework/routes/api.php’

[2018-12-17 19:59] Jkmorais commented on #295
You mean bearer token?

[2018-12-17 20:11] indpurvesh commented on #295
yes. You can follow this docs for more information because i am using an laravel passport pacakge for api authentication

https://laravel.com/docs/5.7/passport

[2018-12-17 20:14] Jkmorais commented on #295
Thanks. I'll try it

[2018-12-17 20:15] indpurvesh commented on #295
Let me know if you had any trouble.

[2018-12-17 21:11] Jkmorais commented on #295
Is there a way to config API clients from Avored dashboard ?

[2018-12-17 21:36] indpurvesh commented on #295
sorry not at this stage but idea is that in my mind. Once some important task gets finished i will work on it to get the token via avored admin dashboard.

[2018-12-17 21:47] ghermans commented on #295
I strongly suggest not to manage api clients from the dashboard, instead add a tab / nav item at the user profile page.

[2018-12-17 21:49] indpurvesh commented on #295
Ideally `passport` support two type of client auth
 - user based token (get token based on via password auth)
 - app based token  (get token via client_Id & client_secret)

[2018-12-17 21:53] ghermans commented on #295
I know, but even then the dashboard should only display data related to sales/products/invoices etc.
unless we add a option to customize the dashboard (enable/disable widgets)

[2018-12-17 21:55] indpurvesh commented on #295
Ofcourse not from the dashboard.

I would assume dashboard as @Jkmorais means by the `Admin=>Configuration=>Developer`

[2018-12-17 23:22] Jkmorais commented on #295
Exactly. It would be very efficient to grab the direct access token in the dash under `Admin => Configuration => Developer`

[2018-12-17 23:53] Jkmorais commented on #295
Now, I'm in doubt, how to configure passport lib. I have already installed using `$ composer require laravel/passport` and `php artisan passport:install` Now I do not know how to proceed

[2018-12-17 23:55] indpurvesh commented on #295
You dont have to install it have been part of `avored/framework` and passport:install is done via avored:install too